#why {
    width: 80%;
    background: var(--accent);
    padding-top: 128px;
    padding-bottom: 128px;
}

#why .text-divider {
    width: 100%;
    margin-bottom: 48px;
}

#why .btn_cont {
    left: 30px;
    top: 23px;
}