@font-face {
    font-family: 'Grathink';
    src: url('Grathink.eot');
    src: local('Grathink'),
        url('Grathink.eot?#iefix') format('embedded-opentype'),
        url('Grathink.woff2') format('woff2'),
        url('Grathink.woff') format('woff'),
        url('Grathink.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

