.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 96px;
    background-size: contain;
    padding-top: 128px;
}

.testimonials-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 24px 0 0 0;
}

.testimonials-wrapper::-webkit-scrollbar {
    height: 4px;
}

.client {
    width: 46%;
    display: inline-flex;
    flex-direction: column-reverse;
    gap: 16px;
    height: 100%;
}

.testimonials-wrapper .row {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    row-gap: 60px;
    column-gap: 6%;
}

.client-review .p1 {
    line-height: 12px;
    color: var(--placeholders);
    display: none;
}

#CV .cv-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 112px 96px;
    gap: 48px;
    background: var(--accent);
}

#CV {
    padding: 0 128px;
}

#CV img {
    width: 72px;
}

#CV .btn.mdn .btn_cont {
    left: 27px;
    top: 22px;
}

#CV .btn_cont #text,
#CV .btn_cont i {
    font-size: 24px !important;
    font-weight: 900 !important;
    word-spacing: 1px;
}

#CV .btn.mdn {
    width: 199px;
    height: 72px;
}

#CV .btn.mdn .btn_bg {
    height: 72px;
    width: 72px;
}

#CV .btn.mdn:hover>.btn_bg {
    width: 100%;
}

#CV .btn_cont i {
    transform: rotate(-45deg);
}

.testimonials .title-text {
    align-items: center;
}

.about-me-card-holder {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-top: 128px;
}

.about-cards {
    width: 424px;
    height: 437px;
    background: url(../img/about-me-1.png);
    background-color: var(--secondary);
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--neutral);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px 32px 48px;
    overflow: hidden;
    /* margin-top: 96px; */
    gap: 40px;
}

.about-cards .title-text {
    width: 100%;
}

.about-cards p {
    color: var(--accent);
}

.about-cards:nth-child(2) {
    background: url(../img/about-me-2.png);
    background-color: var(--secondary);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    margin-top: 0px;
    background-position-x: right;
    height: 437px;
}

.about-cards:nth-child(3) {
    background: url(../img/about-me-3.png);
    background-color: var(--secondary);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    height: 437px;
}

.experience_card {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px 0;
}

.experience-body .row:nth-child(odd) .experience_card {
    text-align: right;
}

.experience-body .row:nth-child(odd) .experience_card::after,
.experience-body .row:nth-child(even) .experience_card::after {
    content: '';
    width: 1px;
    height: 100%;
    background: var(--placeholders);
    position: absolute;
    top: 0;
    right: -26px;
}

.experience-body .row .experience_card .job-client-location {
    z-index: 10;
}

.experience-body .row:nth-child(even) .experience_card::after {
    right: unset;
    left: -20px;
}

.experience-body .row:nth-child(even) .experience_card {
    text-align: left;
}

.experience-body .row:nth-child(even) .experience_card::before,
.experience-body .row:nth-child(odd) .experience_card::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: var(--placeholders);
    border-radius: 50%;
    top: 50%;
    left: -24px;
}

.experience-body .row:nth-child(odd) .experience_card::before {
    left: unset;
    right: -31px;
}

.experience-body .row:nth-child(even) .experience_card::before {
    right: unset;
    left: -25px;
}

.experience-body .row:last-child .experience_card::after {
    height: 50%;
}

.experience-body .row:first-child .experience_card::after {
    height: 50%;
    bottom: 0;
    top: unset;
}

.experience-body .row:nth-child(odd) {
    justify-content: flex-start;
}

.experience-body .row:nth-child(even) {
    justify-content: flex-end;
}

.experience-body {
    display: flex;
    flex-direction: column;
    /* margin-top: 16px; */
    width: 100%;
}

#xp {
    padding-top: 88px;
    padding-bottom: 128px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}

#xp .text-divider {
    align-items: center;
    text-align: center;
    width: 61%;
}

.xp-vector {
    position: absolute;
    height: 990px;
    width: 7px;
    top: 16px;
    left: 50%;
}

.xp-vector img {
    width: 100%;
    height: 100%;
}

.client-name span {
    background: var(--placeholders);
    color: var(--secondary);
    border-radius: 50%;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: 41px;
    height: 41px;
    display: none;
}

.client-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

#div-about-grab {
    width: 33%;
    height: 680px;
    background: url('../img/landing-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: grayscale(1); */
}