.testimonials {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 24px;
    padding-bottom: 128px;
    background-size: contain;
    padding-top: 128px;
}

.testimonials-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding: 24px 0 0 0; */
}

.testimonials-wrapper::-webkit-scrollbar {
    height: 4px;
}

.client {
    width: 46%;
    display: inline-flex;
    flex-direction: column-reverse;
    gap: 16px;
    height: 100%;
}

.testimonials-wrapper .row {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    row-gap: 60px;
    column-gap: 6%;
}

.client-review .p1 {
    line-height: 12px;
    color: var(--placeholders);
    display: none;
}

.experience_card {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px 0;
}

.experience-body .row:nth-child(odd) .experience_card {
    text-align: right;
}

.experience-body .row:nth-child(odd) .experience_card::after,
.experience-body .row:nth-child(even) .experience_card::after {
    content: '';
    width: 1px;
    height: 100%;
    background: var(--placeholders);
    position: absolute;
    top: 0;
    right: -26px;
}

.experience-body .row .experience_card .job-client-location {
    z-index: 10;
}

.experience-body .row:nth-child(even) .experience_card::after {
    right: unset;
    left: -20px;
}

.experience-body .row:nth-child(even) .experience_card {
    text-align: left;
}

.experience-body .row:nth-child(even) .experience_card::before,
.experience-body .row:nth-child(odd) .experience_card::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: var(--placeholders);
    border-radius: 50%;
    top: 50%;
    left: -24px;
}

.experience-body .row:nth-child(odd) .experience_card::before {
    left: unset;
    right: -31px;
}

.experience-body .row:nth-child(even) .experience_card::before {
    right: unset;
    left: -25px;
}

.experience-body .row:last-child .experience_card::after {
    height: 50%;
}

.experience-body .row:first-child .experience_card::after {
    height: 50%;
    bottom: 0;
    top: unset;
}

.experience-body .row:nth-child(odd) {
    justify-content: flex-start;
}

.experience-body .row:nth-child(even) {
    justify-content: flex-end;
}

.experience-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#xp {
    padding-top: 152px;
    padding-bottom: 0;
    width: 100%;
    gap: 152px;
}

#xp .text-divider {
    width: 51%;
}

.xp-vector {
    position: absolute;
    height: 990px;
    width: 7px;
    top: 16px;
    left: 50%;
}

.xp-vector img {
    width: 100%;
    height: 100%;
}

.client-name span {
    background: var(--placeholders);
    color: var(--secondary);
    border-radius: 50%;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    width: 41px;
    height: 41px;
    display: none;
}

.client-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

#div-about-grab {
    width: 33%;
    background: url('../img/about-me.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#xp #div-about-grab {
    width: 40%;
    background: url(../img/xp.webp);
    background-size: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
}

#clients .deliverables {
    background: none;
    padding: 64px 128px 96px;
}

#clients .deliverables .deliverables-list {
    animation: scroll-clients 25s linear infinite;
}

#clients .deliverables .deliverables-list:nth-child(2) {
    /* left: 8%; */
    animation-direction: reverse;
    animation-duration: 30s;
}

@keyframes scroll-clients {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-38%);
    }
}