body#resume .landing .text-divider {
    align-items: flex-start;
    color: var(--neutral);
    width: 100%;
    opacity: 0;
}

body#resume #div-about-grab,
body#resume #mobile-div-about-grab {
    height: 520px;
    width: 100%;
    background: url(../img/landing-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body#resume #mobile-div-about-grab {
    display: none;
    height: 248px;
}

.title-contact p a {
    color: var(--links);
    text-decoration: none;
}

.title-contact p a:hover {
    opacity: 0.5;
}

#resume-begins {
    width: 100%;
    padding-top: 192px;
    padding-bottom: 120px;
    gap: 80px;
    overflow: hidden;
}

.resume-detailers {
    gap: 24px;
    width: 70%;
    text-align: right;
}

#lefter-detailers {
    width: 25%;
}

#lefter-detailers p {
    text-transform: uppercase;
    letter-spacing: 3.5px;
}

#lefter-detailers h4 {
    opacity: 0.8;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title span {
    font-size: 24px;
    color: var(--placeholders);
}

.title-contact {
    /* text-align: right; */
    gap: 12px;
}

.title-contact p a::after {
    display: none;
}

.resume-body {
    gap: 64px;
    /* padding-bottom: 56px; */
}

.divisor {
    width: 100%;
    background: var(--secondary);
    height: 1px;
}

.left-text-divider,
.right-text-divider {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    width: 100%;
}

.left-text-divider .title-text,
.right-text-divider .title-text {
    width: 100%;
}

.right-text-divider {
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 44px;
    /* margin-top: 8px; */
}

.section .title-text {
    gap: 0;
    /* text-align: right; */
}

.section .title-text * {
    width: 100%;
}

.section .title-text .p4 {
    color: var(--ink);
    font-weight: 600;
}

.section .title-text .p4 span {
    font-weight: 400;
}

ol li {
    list-style: disc;
}

ol {
    padding-left: 16px;
    padding-top: 4px;
}

.section .title-text ol .p4 {
    font-weight: 400;
}
.experience-section {
    width: 100% !important;
    gap: 5px !important;
}
.dater {
    display: inline-block;
    margin: 4px 0;
}

.skills ul,
.tools ul {
    padding-left: 16px;
}

.skills ul li,
.tools ul li {
    list-style: disc;
}

.tools .title-text.section {
    gap: 32px;
    width: 100%;
}

.caption-text #tags {
    color: var(--ink);
}

.title .title-text {
    gap: 0;
}

a.save.dwnld-btn {
    position: fixed;
    bottom: 9%;
    right: 2%;
    left: unset;
    top: unset;
    background: var(--secondary);
    color: var(--neutral);
    border-radius: 50%;
    padding: 20px 17px 18px;
    z-index: 10;
    transition: 0.6s;
    cursor: pointer;
    box-shadow: -2px 2px 19px 5px rgb(0 0 0 / 30%);
}

a.save.dwnld-btn:hover {
    background: var(--placeholders);
    color: var(--ink);
}