body#resume .landing {
    /* background: linear-gradient(to bottom, #0000001f, #101010), url(../img/resume-background.png); */
    background: url(../img/landing-image.webp);
    background-size: contain;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -104px;
    padding: 210px 128px 90px;
    background-attachment: fixed;
}

body#resume .landing .text-divider {
    align-items: flex-start;
    color: var(--neutral);
    width: 100%;
    opacity: 0;
}

body#resume navigation a {
    color: var(--neutral);
}

body#resume navigation .nav-links li::after {
    background-color: var(--neutral);
}

body#resume navigation.fixed .nav-links li::after {
    background-color: var(--secondary);
}

body#resume navigation.fixed a {
    color: var(--secondary);
}

body#resume navigation.fixed .nav-links li.active::after {
    background-color: var(--secondary);
}

.title-contact p a {
    color: var(--links);
    text-decoration: none;
}

.title-contact p a:hover {
    opacity: 0.5;
}

body#resume .mobile-nav-opener div {
    background: var(--neutral);
}

body#resume navigation.fixed .mobile-nav-opener div {
    background: var(--secondary);
}

#resume-begins {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 104px;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title span {
    font-size: 24px;
    color: var(--placeholders);
}

.title-contact {
    text-align: left;
    flex-direction: row;
}

.title-contact p a::after {
    display: none;
}

.resume-body {
    gap: 64px;
    padding-bottom: 56px;
}


/* .resume-body-row {
    display: flex;
    justify-content: space-between;
} */

.divisor {
    height: 1px;
    width: 100%;
    background-color: var(--placeholders);
}

.left-text-divider,
.right-text-divider {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    width: 100%;
}

.left-text-divider .title-text,
.right-text-divider .title-text {
    width: 100%;
}

.right-text-divider {
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 8px;
}

.section .title-text {
    gap: 0;
}

.section .title-text .p4 {
    color: var(--ink);
    font-weight: 600;
}

.section .title-text .p4 span {
    font-weight: 400;
}

ol li {
    list-style: disc;
}

ol {
    padding-left: 16px;
}

.section .title-text ol .p4 {
    font-weight: 400;
}

span#spacer {
    display: inline-block;
    width: 18px;
    margin: 0 12px;
    top: -6px;
}

span#spacer::after {
    content: '';
    position: absolute;
    width: 100%;
    background: var(--secondary);
    height: 1.5px;
    border-radius: 16px;
    top: 0;
    left: 0;
}

.dater {
    display: inline-block;
    margin: 4px 0;
}

.skills ul,
.tools ul {
    padding-left: 16px;
}

.skills ul li,
.tools ul li {
    list-style: disc;
}

.tools .title-text.section {
    gap: 24px;
}