#design-section {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 0;
}

.design-style {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.design-style .text-divider {
    width: 100%;
}

.design-style-image .text-divider {
    width: 100%;
    color: var(--neutral);
}

.design-style-image #liner {
    width: 100%;
    background-color: var(--ink);
    height: 1px;
}

.design-style-image {
    width: 36%;
    background-color: var(--secondary);
    padding: 40px 36px;
    gap: 28px;
}

.designer-caption {
    gap: 8px;
    width: 100%;
}

.designer-caption .p4 {
     width: 64%; 
}

.balance-holder .cap .designer-caption {
     text-align: right;
     align-items: flex-end;
}

.design-style .col-100-shift {
    gap: 80px;
    padding-bottom: 152px;
    background-color: var(--accent);
    padding-top: 152px;
}

.design-style .col-100-shift .cap {
    width: 56%;
    gap: 48px;
}

.deliverables {
    padding: 152px 128px;
    overflow: hidden;
    background-size: 5px 5px;
}

.deliverables .row {
    gap: 104px;
    width: max-content;
}

.deliverables .deliverables-list {
    gap: 104px;
    transform: translateX(0%);
    animation: scroll-text 25s linear infinite;
}

.deliverables .deliverables-list:nth-child(2) {
    /* left: 8%; */
    animation-direction: reverse;
    animation-duration: 30s;
}

.deliverables .deliverables-list:nth-child(3) {
    left: 4%;
}

#balance {
    padding-bottom: 128px;
    background-color: var(--accent);
    overflow: hidden;
}

.balance-holder {
    gap: 104px;
    padding: 128px 0 80px 0;
}

.balance-holder .cap {
    width: 100%;
    gap: 64px;
}

.balance-holder .cap:nth-child(odd) {
    align-self: end;
}

@keyframes scroll-text {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-30%);
    }
}