#design-section {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 128px 0 152px;
}

.design-style {
    display: flex;
    flex-direction: column;
}

.design-style .text-divider {
    width: 54%;
}

.design-style-image {
    width: 40%;
}

.design-style-image img {
    width: 100%;
}

.design-style .col-100-shift {
    gap: 80px;
    padding-bottom: 128px;
}

.deliverables {
    padding: 152px 128px;
    background-color: var(--accent);
    overflow: hidden;
    /* background: linear-gradient(1deg, var(--neutral) 1px, var(--accent) 1px); */
    background-size: 5px 5px;
}

.deliverables .row {
    gap: 104px;
    width: max-content;
}

.deliverables .deliverables-list {
    gap: 104px;
    transform: translateX(0%);
    animation: scroll-text 25s linear infinite;
}

.deliverables .deliverables-list:nth-child(2) {
    /* left: 8%; */
    animation-direction: reverse;
    animation-duration: 30s;
}

.deliverables .deliverables-list:nth-child(3) {
    left: 4%;
}

@keyframes scroll-text {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-30%);
    }
}