#design-section {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 0;
}

.design-style {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.design-style .text-divider {
    width: 100%;
}

.design-style-image {
    width: 40%;
}

.design-style-image img {
    width: 100%;
    object-fit: cover;
    object-position: left;
/*    height: 100%;*/
}

.design-style .col-100-shift {
    gap: 64px;
    padding-bottom: 152px;
    background-color: var(--accent);
    padding-top: 152px;
}

.design-style .col-100-shift .cap {
    width: 54%;
    gap: 48px;
}

.deliverables {
    padding: 152px 128px;
    overflow: hidden;
    background-size: 5px 5px;
}

.deliverables .row {
    gap: 104px;
    width: max-content;
}

.deliverables .deliverables-list {
    gap: 104px;
    transform: translateX(0%);
    animation: scroll-text 25s linear infinite;
}

.deliverables .deliverables-list:nth-child(2) {
    /* left: 8%; */
    animation-direction: reverse;
    animation-duration: 30s;
}

.deliverables .deliverables-list:nth-child(3) {
    left: 4%;
}

@keyframes scroll-text {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-30%);
    }
}

#balance {
    padding-bottom: 160px;
    background-color: var(--accent);
    overflow: hidden;
}

.balance-holder {
    gap: 64px;
}

.balance-holder .cap {
    width: 56%;
    gap: 32px;
}