section.error {
  padding: 148px 128px 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  color: var(--background-circles);
}

section.error .results-error-title {
  width: 601px;
  text-align: center;
}

section.error h1 {
  font-family: "Grathink", sans-serif;
  font-size: 128px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0;
  letter-spacing: 0;
}

section.error h1 i {
  font-size: 96px;
  top: -14px;
}

.results-error-title p {
  font-family: "Grathink", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
}

.results-error-description p {
  font-family: "Grathink", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  text-align: center;
}

.return-links a {
  color: var(--links);
  display: inline-block;
  margin: 0 10px;
  margin-top: 12px;
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
}

.results-error-description {
  text-align: center;
}

/* section.error {
    padding: 64px 128px 64px;
    background: url(../img/results-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
    color: var(--background-circles);
}

section.error .results-error-title {
    width: 601px;
    text-align: center;
}

section.error h1 {
    font-size: 160px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0;
}

section.error h1 i {
    font-size: 112px;
    top: 9px;
}

.results-error-title p {
    font-family: 'Grathink', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.results-error-description p {
    font-family: 'Grathink', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
}

.return-links a {
    color: var(--links);
    display: inline-block;
    margin: 0 10px;
    margin-top: 12px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 13px;
}

.results-error-description {
    text-align: center;
} */
