section.error {
    padding: 148px 128px 96px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    height: 81vh;
}

section.error .results-error-title {
    width: 601px;
    text-align: center;
}

section.error h1 {
    font-family: Skarpa;
    font-size: 128px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0;
}

section.error .h4 {
    font-weight: 900;
}

section.error h1 i {
    font-size: 64px;
    top: -14px;
}

.return-links a {
    color: var(--links);
    display: inline-block;
    margin: 0 10px;
    text-decoration: underline;
    font-weight: 400;
    font-size: 22px;
    transition: 0.4s;
    margin-top: 12px;
}

.return-links a:hover {
    text-decoration: none;
}

.results-error-description {
    text-align: center;
}

.error-footer {
    gap: 32px;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 19vh;
}