.results-section {
    padding: 112px 128px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

body#contact .results-section {
    display: none;
}

.results-section-title {
    width: 48%;
    text-align: center;
    color: var(--ink);
}

body:not(#home-landing) .results-section-title>p {
    margin-bottom: 32px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 72px;
    padding: 72px 128px 48px;
    z-index: 2;
}

footer::before,
body:not(#home-landing) .results-section::before,
body:not(#resume) .results-section::before {
    content: "";
    width: auto;
    position: absolute;
    top: 0;
    left: 128px;
    right: 128px;
    background-color: var(--placeholders);
    height: 1px;
}

body:not(#home-landing) .results-section::before {
    height: 100%;
    background: linear-gradient(1deg, var(--neutral) 1px, var(--accent) 1px);
    background-size: 5px 5px;
}

body:not(#home-landing) footer::before {
    display: none;
}

body#contact footer::before {
    display: block;
}

body:not(#home-landing) footer {
    padding-top: 104px;
}

body#home-landing .results-section::before {
    display: none;
}

.footer-top {
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

.contact-links {
    display: flex;
    gap: 24px;
}

.footer-top a:not(.to-top) {
    flex-grow: 0;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.96px;
    text-align: left;
    color: var(--secondary);
    transition: 1.2s;
}

.footer-top a:not(.to-top)::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--placeholders);
    transition: 0.8s;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
}

.footer-top a:not(.to-top):hover::after {
    width: 50%;
}

.footer-top a:not(.to-top):hover {
    color: var(--placeholders);
}

.to-top {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--secondary);
    border-radius: 1px;
    padding: 8px 20px;
    background: transparent;
    transition: 1.2s;
}

.to-top:hover {
    color: var(--neutral);
    background: var(--placeholders);
}

.to-top:hover .p6 {
    color: var(--neutral);
}

.to-top i {
    font-size: 16px;
}

span.copyright {
    color: var(--ink);
}