.results-section {
    padding: 128px 128px 96px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

body#contact .results-section,
body#resume .results-section {
    display: none;
}

.results-section-title {
    width: 48%;
    text-align: center;
    color: var(--ink);
}

.results-section-title>p {
    margin-bottom: 24px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 72px;
    padding: 72px 128px;
    z-index: 2;
}

footer::before,
body:not(#home-landing) .results-section::before,
body:not(#resume) .results-section::before {
    content: "";
    width: auto;
    position: absolute;
    top: 0;
    left: 128px;
    right: 128px;
    background-color: var(--accent);
    height: 1px;
}

.footer-top {
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    justify-content: space-between;
}

.contact-links {
    display: flex;
    gap: 24px;
}

.footer-top a:not(.to-top) {
    flex-grow: 0;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.96px;
    text-align: left;
    color: var(--secondary);
    transition: 0.6s;
}

.footer-top a:not(.to-top):hover {
    color: var(--placeholders);
}

.to-top {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--secondary);
    border-radius: 1px;
    padding: 8px 20px;
    background: transparent;
    transition: 0.6s;
}

.to-top:hover {
    color: var(--neutral);
    background: var(--placeholders);
}

.to-top:hover .p6 {
    color: var(--neutral);
}

.to-top i {
    font-size: 16px;
}

span.copyright {
    font-size: 20px;
    color: var(--ink);
    font-weight: 400;
}

span.copyright i {
    font-size: 12px;
}