form {
    width: 100%;
    padding: 0;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.form-body {
    display: flex;
    gap: 48px;
    flex-direction: column;
    width: 100%;
}

.form-group {
    width: 100%;
}

.form-group.dual {
    display: flex;
    gap: 48px;
}

.input-group {
    display: flex;
    margin-top: 6px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 8px 16px 8px 4px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--placeholders);
    color: var(--secondary);
    background: none;
}

.form-area {
    height: 104px;
    resize: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

button.btn.mdn {
    width: 200px;
}

button.btn.mdn .btn_cont {
    left: 30px;
    top: 19px;
}

body#contact article {
    display: flex;
    column-gap: 128px;
    padding: 0 128px 128px;
}

.contact-info {
    width: 64%;
}

.contact-info a {
    color: var(--links);
    display: inline-block;
}

.contact-info a span {
    margin-right: 10px;
}