navigation,
.wrapper,
.cursor,
footer {
    opacity: 0;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 8px;
    background-color: var(--placeholders);
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 100000;
}

a:hover~.cursor {
    transform: translate(-50%, -50%) scale(8);
}

.col-20 {
    width: 20% !important;
}

.col-30 {
    width: 30% !important;
}

.col-40 {
    width: 40% !important;
}

.col-50 {
    width: 50% !important;
}

.col-60 {
    width: 60% !important;
}

.col-70 {
    width: 70% !important;
}

.col-80 {
    width: 80% !important;
}

.col-90 {
    width: 90% !important;
}

.col-100 {
    width: 100% !important;
}

.d-flex {
    display: flex;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.d-flex-row {
    flex-direction: row;
}

.d-flex-column {
    flex-direction: column;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-between {
    align-items: space-between;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.btn {
    display: inline-block;
    width: 184px;
    height: 64px;
    cursor: pointer;
}

.btn.lng {
    width: 296px;
}

.btn.mdn {
    width: 225px;
}


/* 
.btn.mdn .btn_cont {
    left: 34px;
} */

.btn:hover>.btn_cont #text,
.btn:hover>.btn_cont i {
    color: var(--neutral);
}

.btn:hover>.btn_bg {
    width: 100%;
    border-radius: 8px;
}

.btn_bg {
    width: 64px;
    height: 64px;
    background: var(--secondary);
    border-radius: 64px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.btn_cont {
    position: absolute;
    top: 19px;
    left: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn.four .btn_cont {
    left: 16px;
    top: 21px;
}

.btn.four {
    height: 68px;
}

.btn.four .btn_bg {
    height: 68px;
    width: 68px;
}

.btn.four:hover .btn_bg {
    width: 100%;
}

.designer-caption {
    gap: 12px;
}

body#home-landing .landing .btn {
    width: 168px;
    margin-top: 18px;
}

.btn_cont #text,
.btn_cont i {
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--secondary);
    transition: 1.5s;
}

.btn_cont #text span {
    color: var(--neutral);
}

.row {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 32px;
    flex-wrap: wrap;
}

section {
    padding-top: 160px;
    padding-left: 128px;
    padding-right: 128px;
    background-size: 96%;
    overflow: auto;
}

.text-divider,
.title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 64%;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 24px;
}

.title-text {
    gap: 20px;
    text-align: left;
    width: 556px;
}

.text-divider a:not(.case-study-link) {
    color: var(--secondary);
    font-weight: 700;
    display: inline-block;
}

.text-divider a:not(.case-study-link)::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--secondary);
    position: absolute;
    bottom: 4px;
    left: 0;
    transition: 1.2s;
    border-radius: 2px;
    top: unset;
}

.text-divider a:not(.case-study-link):hover::after {
    width: 50%;
}

#liner {
    width: 24px;
    background: var(--secondary);
    height: 2px;
}

.hidden {
    display: none !important;
}

.error {
    color: var(--error);
    font-weight: 800;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.pop-up {
    background: var(--secondary);
    color: var(--neutral);
    display: flex;
    flex-direction: column;
    padding: 24px 32px 32px;
    gap: 4px;
    width: auto;
    position: fixed;
    top: 20%;
    right: -48%;
    left: unset;
    text-align: center;
    align-items: center;
    z-index: 9999;
    transition: 0.8s;
}

.pop-up i {
    font-size: 48px;
}

.pop-up p {
    width: 236px;
    color: var(--neutral);
}

.pop-up.show {
    right: 0;
}

.pop-up.show.error {
    background-color: var(--error);
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.modal {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 32px;
    gap: 32px;
    opacity: 1;
    overflow-y: scroll;
    transform: scale(1);
    -webkit-transition: opacity 0.9s linear, z-index 0.3s linear, transform 0.9s linear;
    -moz-transition: opacity 0.9s linear, z-index 0.3s linear, transform 0.9s linear;
    -o-transition: opacity 0.9s linear, z-index 0.3s linear, transform 0.9s linear;
    transition: opacity 0.9s linear, z-index 0.3s linear, transform 0.9s linear;
}

.img-holder {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
    display: flex;
}

.img-holder::-webkit-scrollbar {
    height: 8px;
}

.zoom-in {
    cursor: grab;
}

.img-holder img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img-holder img.zoom-in {
    top: 0;
    left: 0;
}

span.cuddles {
    background: var(--neutral);
    padding: 10px 12px;
    border-radius: 24px;
    -webkit-transition: all 1.4s linear;
    -moz-transition: all 1.4s linear;
    -o-transition: all 1.4s linear;
    transition: all 1.4s linear;
    cursor: pointer;
    color: var(--secondary);
}

span#close,
.zooms {
    z-index: -20000;
    opacity: 0;
    position: fixed;
    right: 7%;
    top: 6%;
}

span#close.fixed,
.zooms.fixed {
    z-index: 20000;
    opacity: 1;
}

.zooms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 6%;
    top: unset;
}

.modal.hideout {
    z-index: -10000;
    opacity: 0;
    transform: scale(0.1);
}

.col-100-shift {
    padding: 0 128px;
    width: 100%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

iframe {
    width: 100%;
    height: 500px;
}