.header {
    display: flex;
    gap: 32px;
    flex-direction: column;
    width: 42%;
}

.landing {
    width: 100%;
    height: auto;
    padding: 128px 128px 0;
}

.header_cont {
    display: flex;
    gap: 32px;
    padding: 48px;
    padding-left: 64px;
    width: 100%;
    background: var(--accent);
    height: 464px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
}

.landing-image img {
    width: 120%;
    object-fit: cover;
    left: -21px;
}

body:not(#home-landing) .landing {
    width: 100%;
    text-align: center;
    padding: 160px 128px 48px;
    height: auto;
    min-height: auto;
}

.landing .text-divider {
    text-align: left;
    gap: 24px;
}

body#about .landing .text-divider {
    width: 60%;
}

.landing .text-divider .liner {
    background: var(--ink);
}

body#contact .landing .text-divider {
    justify-content: left;
    text-align: left;
    align-items: flex-start;
    padding: 0;
}

#landing-highlight {
    color: var(--links);
    display: inline-block;
    /* font-family: "Romantica Signature"; */
}

#landing-highlight::before {
    content: '';
    border: 2px solid var(--links);
    display: inline-block;
    min-width: 100%;
    min-height: 12px;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -12px;
    left: 5px;
    top: unset;
}

#landing-img {
    width: 42%;
    background: url(/public/assets/img/ed.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #444444;
    background-position: center;
    position: absolute;
    height: 100%;
    right: 48px;
    top: 48px;
    /* border-radius: 270px; */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#landing-highlight::after {
    content: "";
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        content: 'design';
    }
    to {
        content: 'design';
    }
}