.header {
    display: flex;
    gap: 32px;
    flex-direction: column;
    width: 100%;
}

.header p {
    left: -100%;
    transition: 1s;
}

.header h1 {
    left: -100%;
    transition: 1.6s;
}

.header a {
    left: -100%;
    transition: 2s;
}

.header.contents p {
    left: 0;
}

.header.contents h1 {
    left: 0;
}

.header.contents a {
    left: 0;
}

.landing {
    width: 100%;
    height: 100vh;
    padding: 144px 128px 0;
}

.header_cont {
    display: flex;
    gap: 32px;
    width: 100%;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 12px;
}

body:not(#home-landing) .landing {
    width: 100%;
    text-align: center;
    padding: 192px 128px 0;
    height: auto;
    min-height: auto;
}

.landing .text-divider {
    text-align: left;
    gap: 24px;
}

body#about .landing .text-divider {
    width: 60%;
}

.landing .text-divider .liner {
    background: var(--ink);
}

body#contact .landing .text-divider {
    justify-content: left;
    text-align: left;
    align-items: flex-start;
    padding: 0;
}

#landing-highlight {
    color: var(--links);
    display: inline-block;
    /* font-family: "Romantica Signature"; */
}

#landing-highlight::before {
    content: '';
    border: 2px solid var(--links);
    display: inline-block;
    min-width: 100%;
    min-height: 12px;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -12px;
    left: 5px;
    top: unset;
}

#landing-highlight::after {
    content: "";
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        content: 'design';
    }
    to {
        content: 'design';
    }
}