.header {
    display: flex;
    gap: 32px;
    flex-direction: column;
    padding-top: 24px;
    width: 64%;
}

.landing {
    width: 100%;
    height: auto;
    padding: 160px 128px 0;
}

.header_cont {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
}

.landing-image img {
    width: 120%;
    object-fit: cover;
    left: -21px;
}

body:not(#home-landing) .landing {
    width: 100%;
    text-align: center;
    padding: 160px 128px 48px;
    height: auto;
    min-height: auto;
}

.landing .text-divider {
    text-align: left;
    gap: 32px;
}

body#about .landing .text-divider {
    width: 100%;
}

.landing .text-divider .liner {
    background: var(--ink);
}

body#contact .landing .text-divider {
    justify-content: left;
    text-align: left;
    align-items: flex-start;
    padding: 0;
}

#landing-highlight {
    color: var(--links);
    display: inline-block;
    letter-spacing: 1px;
}

#landing-highlight::before {
    content: '';
    border: 2px solid var(--links);
    display: inline-block;
    min-width: 100%;
    min-height: 12px;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -6px;
    left: 5px;
    top: unset;
}


#landing-highlight::after {
    content: "";
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from{
        content: 'design';
    }
    to{
        content: 'build';
    }
}