@media screen and (max-width: 1100px) {
    .preloader {
        padding: 32px 64px;
    }
    .landing {
        padding: 120px 64px 0;
    }
    body#home-landing #case-study {
        padding: 136px 0;
        gap: 32px;
    }
    .text-divider,
    .title-text {
        gap: 16px;
    }
    h1,
    .h1 {
        font-size: 40px;
    }
    .header-text {
        width: 94%;
    }
    .p4 {
        font-size: 17px;
        line-height: 2;
    }
    .p5 {
        font-size: 14px;
    }
    h5,
    .h5 {
        font-size: 18px;
    }
    .btn_cont #text,
    .btn_cont i {
        font-size: 17px;
    }
    .btn_cont {
        gap: 10px;
        top: 18px;
    }
    .btn.four .btn_cont {
        top: 19px;
    }
    .results-section-title .btn.four .btn_cont {
        top: 17px;
        left: 12px;
    }
    .btn_bg {
        width: 58px;
        height: 58px;
    }
    .btn {
        height: 58px;
    }
    .btn.lng {
        width: 264px;
    }
    body#home-landing .landing .btn {
        width: 148px;
    }
    .btn.four {
        height: 60px;
        width: 160px;
    }
    .btn.mdn {
        width: 192px;
    }
    .btn.four .btn_bg {
        height: 60px;
        width: 60px;
    }
    .btn.four {
        height: 56px;
        width: 152px;
    }
    .results-section-title .btn.four {
        width: 190px;
    }
    .btn.four .btn_bg {
        height: 56px;
        width: 56px;
    }
    .p1 {
        font-size: 32px;
    }
    .deliverables .deliverables-list {
        gap: 80px;
    }
    .deliverables .row {
        gap: 80px;
    }
    .deliverables {
        padding-top: 104px;
        padding-bottom: 104px;
    }
    #landing-img {
        background-size: 144%;
        height: 480px;
    }
    h2,
    .h2 {
        font-size: 32px;
    }
    .flexer {
        width: 47%;
    }
    footer::before,
    body:not(#home-landing) .results-section::before,
    body:not(#resume) .results-section::before {
        width: 86%;
        left: 64px;
    }
    .col-100-shift {
        padding: 0;
    }
    .design-style .col-100-shift {
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 88px;
    }
    .design-rule {
        width: 47%;
    }
    section {
        padding-left: 64px !important;
        padding-right: 64px !important;
    }
    #design-section {
        padding: 104px 0 !important;
    }
    footer {
        padding: 72px 64px 24px;
        gap: 32px;
    }
    nav {
        padding: 24px 64px;
    }
    .landing-image {
        height: 400px;
    }
    body:not(#home-landing) .landing,
    body#case-study-body .landing .case-study-title {
        padding-left: 64px;
        padding-right: 64px;
        padding-top: 160px;
    }
    .portfolio-section {
        gap: 104px;
    }
    .sectioners {
        gap: 3%;
        padding: 0 64px;
    }
    .process-contents {
        padding-top: 0;
        gap: 104px;
    }
    .process-sectioners {
        gap: 32px;
        padding: 0;
    }
    .process-sectioners .text-divider .left {
        gap: 4%;
    }
    .process-sectioners .text-divider .p4 {
        width: 60% !important;
    }
    .returner {
        padding-top: 0;
    }
    .col-100-shift.returner {
        padding: 0 64px;
    }
    body#case-study-body .landing {
        padding-right: 0;
        padding-left: 0;
        padding: 0;
    }
    .experience_card {
        width: 47.49%;
    }
    .results-section {
        padding: 128px 64px;
    }
    .results-section-title {
        width: 64%;
    }
    .design-styles .row {
        padding: 0;
    }
    .row {
        row-gap: 56px;
    }
    .full-width-shift {
        padding: 0 64px;
    }
    #resume-begins {
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 88px;
    }
    body#contact article {
        padding-left: 64px;
        padding-right: 64px;
        column-gap: 48px;
    }
    .about-me-card-holder {
        padding-top: 72px;
    }
    #xp {
        padding-top: 112px;
        padding-bottom: 112px;
    }
    #clients {
        padding: 48px 0 48px !important;
    }
    #clients .col-100-shift {
        padding: 0 72px;
    }
    .testimonials {
        padding-top: 72px;
        padding-bottom: 88px;
    }
    #CV .cv-block {
        padding: 72px 80px;
    }
    body:not(#home-landing) #case-study {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 820px) {
    .cursor {
        opacity: 0 !important;
    }
    body,
    html {
        font-size: 13px !important;
    }
    .nav {
        display: none;
    }
    .mobile-nav {
        display: block;
        position: fixed;
        z-index: 99999;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        opacity: 0;
        transition: 0.4s;
    }
    nav.fixed {
        top: 0;
    }
    .nav-links li:hover::after,
    .nav-links li.active::after {
        width: 10%;
    }
    .mobile-nav.in {
        opacity: 1;
        right: 0;
    }
    nav {
        padding: 32px 48px;
    }
    .logo {
        width: 100px;
    }
    nav .remmit {
        font-size: 35px;
    }
    .nav-links {
        /* position: fixed; */
        height: 100%;
        width: 100%;
        background: var(--neutral);
        left: unset;
        top: 0;
        right: -72%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 56px;
        transition: 0.8s;
        box-shadow: -14px 0px 30px rgba(94, 94, 94, 0.24);
        gap: 14px;
    }
    .wrapper.rolled,
    nav.rolled {
        left: -40%;
    }
    .nav-links.get-in {
        right: 0;
    }
    .nav-links li a {
        font-size: 24px;
        text-align: left;
        width: 100%;
        line-height: 1;
    }
    .nav-links li::after {
        top: -8px;
        height: 1px;
    }
    .nav-links li {
        width: 100%;
    }
    .nav-links::before {
        height: 100%;
        left: 0;
    }
    .landing-image {
        width: 100%;
        flex: 40%;
        height: 348px;
        top: 40px;
    }
    .header {
        width: 100%;
    }
    .mobile-nav-opener {
        display: block;
        padding-right: 0;
    }
    .mobile-nav-opener div {
        margin-right: 0;
    }
    .mobile-nav-opener.close {
        position: absolute;
        left: calc(100% + 32px);
        z-index: 1;
        top: 30px;
        transition: 0.8s;
    }
    .mobile-nav-opener.close.out {
        left: 56px;
    }
    .mobile-nav-opener.close:hover {
        color: var(--placeholders);
    }
    .mobile-nav-opener.close i {
        font-size: 24px;
    }
    .landing {
        padding: 140px 48px 0;
    }
    #div-about-grab {
        height: auto;
    }
    #xp #div-about-grab {
        /* display: none; */
        width: 100%;
        background-attachment: unset;
        background-size: cover;
        background-position-x: center;
        margin-bottom: 60px;
        height: 304px;
    }
    h1,
    .h1 {
        font-size: 36px;
        word-spacing: 0;
    }
    #highlight::after {
        bottom: 10px;
    }
    .p4 {
        font-size: 15px;
    }
    h6,
    .h6 {
        font-size: 13px;
    }
    .p1 {
        font-size: 20px;
    }
    .deliverables .deliverables-list {
        gap: 64px;
    }
    .deliverables {
        padding: 96px 48px;
    }
    #clients .deliverables {
        padding: 48px;
    }
    #clients .col-100-shift {
        padding-left: 48px;
        padding-right: 48px;
    }
    .design-style .col-100-shift {
        padding-left: 48px;
        padding-right: 48px;
        gap: 36px;
        padding-bottom: 32px;
    }
    .deliverables .row {
        gap: 56px;
    }
    .btn_cont #text,
    .btn_cont i {
        font-size: 16px !important;
    }
    body#home-landing .landing .btn_cont {
        top: 18px;
    }
    section {
        padding: 48px 48px !important;
        gap: 24px !important;
    }
    .scroll-down {
        height: 56px;
        bottom: 20px;
    }
    .header-text {
        width: 100%;
        gap: 4px;
    }
    .bg-play .shade {
        right: unset;
        left: 156px;
    }
    #CV .cv-block {
        gap: 32px;
    }
    .bg-play {
        overflow: hidden;
    }
    .btn {
        width: 150px;
        height: 56px;
    }
    body#home-landing .landing .btn {
        margin-top: 8px;
        width: 136px;
    }
    .btn_bg {
        top: 0;
        left: 0;
        width: 56px;
        height: 56px;
    }
    .btn_cont {
        top: 19px;
        left: 24px;
    }
    .results-section .btn_cont {
        left: 28px;
        top: 19px;
    }
    #arrow-tail-long {
        height: 36px;
    }
    h2,
    .h2 {
        font-size: 28px;
    }
    .p3 {
        font-size: 18px;
    }
    .text-divider {
        gap: 16px;
        width: 100%;
    }
    #xp .text-divider {
        text-align: left;
        align-items: flex-start;
        width: 100%;
    }
    .design-style .text-divider {
        width: 62%;
    }
    .designer-caption {
        gap: 0;
    }
    .text-divider p {
        width: 100%;
        word-break: break-word;
    }
    .title-text {
        gap: 12px;
        word-break: break-word;
    }
    .title-text .section {
        gap: 16px;
    }
    .case-studies-body {
        gap: 32px;
        padding-bottom: 32px;
    }
    .projects-holder {
        gap: 32px;
        margin-bottom: 0;
    }
    .sectioners~.projects-holder {
        margin-top: 32px;
    }
    #case-study-body .projects-holder .row {
        gap: 48px;
    }
    .row {
        gap: 24px;
        row-gap: 2%;
    }
    .flexer {
        width: 48%;
        gap: 40px;
    }
    .project {
        width: 100%;
    }
    .project img {
        width: 100%;
        object-fit: contain;
        height: auto;
        max-width: 100%;
    }
    #why {
        width: 100%;
        padding-bottom: 0px !important;
        padding-right: 40px;
        padding-top: 80px;
        padding-left: 40px;
    }
    .why-boxed {
        padding: 0 0 136px;
    }
    .img-why-me {
        width: 30%;
        height: 60%;
        display: none;
    }
    .why-boxed::before {
        width: 100%;
        /*         display: none; */
        height: 1px;
        top: 100%;
        background-color: var(--placeholders);
    }
    #why .text-divider {
        margin-bottom: 32px;
        width: 100%;
    }
    section#why::before {
        width: 50%;
        left: unset;
        right: 40px;
        height: 48%;
        width: 100%;
        height: 100%;
        right: 0;
    }
    .btn.mdn {
        width: 180px;
    }
    .results-section-title .btn.four {
        width: 180px;
    }
    button.btn.mdn {
        width: 164px;
    }
    .btn.four .btn_cont {
        left: 16px;
    }
    .btn:hover>.btn_bg {
        width: 100%;
    }
    #why .btn_cont {
        left: 16px;
        top: 18px;
    }
    h3,
    .h3 {
        font-size: 20px;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .caption {
        padding: 24px 0 0;
        bottom: 4%;
    }
    .caption-text {
        width: 100%;
    }
    .results-section {
        padding: 104px 48px;
        gap: 38px;
    }
    footer::before,
    body:not(#home-landing) .results-section::before,
    body:not(#resume) .results-section::before {
        left: 48px;
        width: 88%;
    }
    .results-section-title {
        width: 72%;
    }
    .btn.lng {
        width: 240px;
    }
    .btn.lng .btn_cont {
        top: 18px;
    }
    .btn.lng .btn_bg {
        width: 56px;
        height: 56px;
    }
    .btn.lng:hover .btn_bg {
        width: 100%;
    }
    footer {
        padding: 32px 48px 24px !important;
        gap: 32px;
    }
    footer::before {
        width: 86%;
    }
    .contact-links {
        gap: 24px;
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-top a:not(.to-top) {
        font-size: 14px;
    }
    .to-top {
        gap: 6px;
        width: auto;
        align-items: center;
    }
    .to-top h4 {
        font-size: 10px;
        text-align: center;
    }
    .to-top i {
        font-size: 17px;
        top: 0;
    }
    .paragraphsdescriptions {
        font-size: 12px;
    }
    .design-rule {
        width: 46.5%;
        padding: 32px;
    }
    .design-rule:nth-child(even) {
        top: 64px;
    }
    .results-section .btn.mdn .btn_cont {
        left: 15px;
        top: 18px;
    }
    .icon {
        width: 40px;
        height: 48px;
    }
    body:not(#home-landing) .landing {
        padding: 184px 48px 40px;
        overflow-x: hidden;
    }
    form {
        padding: 16px 0 72px;
    }
    .form-body {
        padding: 0;
    }
    .form-group.dual {
        flex-direction: column;
    }
    h4,
    .h4 {
        font-size: 18px;
    }
    .landing .text-divider {
        padding: 0;
        gap: 20px;
    }
    button.btn {
        width: 148px;
    }
    button .btn_cont {
        top: 20px;
        left: 21px;
    }
    body#case-study-body .landing {
        padding: 0 !important;
    }
    body#case-study-body .landing .case-study-title {
        padding: 136px 48px 0;
    }
    .scroll-down-indicator {
        display: none;
    }
    .case-study-title-top {
        width: 100%;
        gap: 56px;
    }
    .case-study-header-details {
        gap: 48px;
    }
    .p5 {
        font-size: 13px;
    }
    .p6 {
        font-size: 11px;
    }
    .portfolio-section {
        padding: 64px 0 32px;
        gap: 80px;
    }
    .sectioners {
        padding: 0 48px;
    }
    .process-sectioners {
        padding: 0;
    }
    .process-contents {
        padding-top: 16px;
        gap: 80px;
    }
    .return-button {
        margin: 48px 0 32px;
    }
    .col-100-shift.returner {
        padding: 0 48px;
    }
    .case-study-title .return-button {
        margin: 0;
    }
    .portfolio-section .text-divider {
        gap: 12px;
    }
    img#show_reeler {
        height: auto;
    }
    .portfolio-section .text-divider #liner {
        width: 48px;
    }
    .portfolio-section .project img {
        width: 100%;
        height: auto;
    }
    .portfolio-section .project {
        width: 100%;
        height: auto;
    }
    body#contact article {
        flex-direction: column;
        padding: 0 48px 24px;
        row-gap: 32px;
    }
    .contact-info {
        width: 100%;
    }
    .contact-info li {
        margin-bottom: 0;
    }
    body#case-study-body .landing .case-study-img {
        height: auto;
        object-fit: cover;
    }
    .pop-up {
        right: -86%;
    }
    .pop-up p {
        width: 196px;
    }
    #tag-single {
        padding: 12px 16px;
    }
    .tags-row div {
        gap: 12px 12px;
        flex-wrap: wrap;
    }
    #resume-begins {
        padding: 128px 48px 42px !important;
        overflow: hidden;
        gap: 44px !important;
    }
    .resume-detailers {
        width: 56%;
    }
    .title {
        row-gap: 24px;
    }
    .title-contact {
        text-align: left;
        column-gap: 11px;
    }
    .resume-body {
        gap: 56px;
        padding-bottom: 24px;
    }
    .left-text-divider,
    .right-text-divider {
        width: 100%;
        row-gap: 56px;
    }
    .btn.lng.ln {
        width: 198px;
        height: 72px;
    }
    .btn.lng.ln .btn_cont {
        top: 29px;
        left: 16px;
    }
    .btn.lng.ln .btn_cont #text {
        font-size: 12px;
    }
    .btn.lng.ln .btn_bg {
        height: 72px;
        width: 72px;
    }
    a.download i {
        font-size: 20px;
    }
    a.download {
        padding: 20px 14px;
        gap: 0;
    }
    .testimonials-wrapper .row {
        flex-direction: column;
        gap: 48px;
        width: 100%;
    }
    .testimonials .title-text {
        margin-right: 0;
        align-items: flex-start;
        text-align: left;
        gap: 16px;
    }
    .testimonials .title-text p {
        width: 225px;
    }
    .client {
        width: 100%;
        gap: 10px;
        flex: 100%;
    }
    .testimonials-wrapper {
        gap: 64px;
        padding-bottom: 24px;
    }
    .testimonials {
        padding-bottom: 56px;
        background-size: cover;
        padding-top: 72px !important;
        gap: 20px !important;
        padding-bottom: 72px !important;
    }
    body#resume .landing {
        background-position-x: -110px;
        background-size: 64%;
        background-position-y: 0;
    }
    .about-me-card-holder {
        flex-direction: row;
        width: 100%;
        display: inline-block;
    }
    .about-cards {
        width: 315px;
        height: 320px;
        gap: 32px;
        display: inline-flex;
        text-align: left;
    }
    .about-cards:nth-child(2) {
        height: 320px;
        margin-left: 32px;
    }
    .about-cards:nth-child(3) {
        height: 320px;
        margin-top: 32px;
    }
    #CV img {
        width: 64px;
    }
    #CV {
        gap: 16px !important;
        padding: 0 48px;
    }
    #CV .btn_cont #text,
    #CV .btn_cont i {
        font-size: 24px;
    }
    #CV .btn.mdn .btn_cont {
        left: 27px;
        top: 23px;
    }
    #CV .btn.mdn:hover .btn_bg {
        width: 100%;
    }
    #CV .btn.mdn {
        width: 196px;
    }
    #xp {
        padding-bottom: 64px !important;
        padding-top: 64px !important;
    }
    #xp .d-flex.col-100 {
        flex-direction: column-reverse;
    }
    .experience_card {
        width: 100%;
        text-align: left !important;
    }
    .experience-body .row:nth-child(even) .experience_card {
        text-align: right !important;
        border-top: 1px solid var(--placeholders);
        border-bottom: 1px solid var(--placeholders);
    }
    .experience-body .row:last-child .experience_card {
        border-bottom: 0;
    }
    .experience-body .row {
        justify-content: flex-start !important;
    }
    .xp-vector {
        opacity: 0.4;
        height: 1108px;
    }
    .projects-holder a#projector {
        width: 100%;
    }
    .projects-holder .flexer a#projector:nth-child(even) {
        left: 0;
    }
    .projects-holder a:nth-child(even) {
        top: 0px;
    }
    .footer-top {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 32px;
    }
    .tags-row .h5 {
        text-align: left;
    }
    .tags-row {
        gap: 8px;
        margin-top: 48px;
    }
    body#home-landing #case-study {
        padding: 120px 48px 104px !important;
        gap: 28px !important;
    }
    body:not(#home-landing) #case-study {
        padding-top: 12px !important;
        display: block;
    }
    #design-section {
        padding: 120px 0 80px !important;
        gap: 80px;
    }
    .design-style {
        gap: 104px;
    }
    .experience-body .row:nth-child(even) .experience_card::before {
        display: none;
    }
    .experience-body .row:nth-child(even) .experience_card::after {
        display: none;
    }
    .experience-body .row:nth-child(odd) .experience_card::before {
        display: none;
    }
    .experience-body .row:nth-child(odd) .experience_card::after {
        display: none;
    }
    .pagination {
        justify-content: center;
    }
    .full-width-shift {
        padding: 0 48px;
    }
    .context-menu {
        position: fixed;
    }
    .context-menu ul li #inner-down {
        position: relative;
        display: table;
    }
    #contextMenu i {
        transform: rotate(90deg);
    }
    #landing-img {
        height: 358px;
    }
    .remmit {
        font-size: 52px;
    }
    .preloader {
        padding: 32px 48px;
    }
    span.cuddles {
        padding: 12px 12px 10px;
    }
    .mobile-img-why-me {
        /* display: block; */
        height: 380px;
        width: 100%;
        margin-bottom: 72px;
    }
    .process-sectioners .text-divider .left {
        flex-direction: column;
    }
    .process-sectioners .text-divider .p4 {
        width: 100% !important;
        padding-top: 16px;
    }
    a.btn.four.dwnld-btn {
        width: 132px;
    }
}

@media screen and (max-width:560px) {
    #design-section {
        padding: 72px 0 48px !important;
        gap: 80px;
    }
    .design-style {
        gap: 48px;
    }
    .nav-links {
        width: 100%;
        padding-left: 48px;
    }
    .wrapper.rolled,
    nav.rolled {
        left: -60%;
    }
    .mobile-nav {
        width: 80%;
    }
    .mobile-nav-opener.close.out {
        left: 48px;
    }
    footer::before,
    body:not(#home-landing) .results-section::before,
    body:not(#resume) .results-section::before {
        left: 32px;
        width: 84%;
    }
    .context-menu ul li a {
        font-size: 16px;
        padding: 10px 12px;
    }
    body:not(#home-landing) footer {
        padding-top: 56px;
    }
    .design-rule {
        width: 100%;
    }
    .design-rule:nth-child(even) {
        top: 0;
    }
    .landing h1 br {
        display: none;
    }
    .landing h1 br:before {
        content: " ";
    }
    .landing h1 br:after {
        content: " ";
    }
    #landing-img {
        display: none;
    }
    .header {
        width: 100%;
    }
    .landing {
        padding: 104px 32px 0;
    }
    nav {
        padding: 24px 32px;
    }
    body#home-landing #case-study {
        padding: 80px 32px 80px !important;
        gap: 44px !important;
    }
    .flexer {
        width: 100%;
        gap: 80px;
    }
    .preloader .h1 {
        font-size: 16px;
        letter-spacing: 0.5em;
    }
    .loader-circles {
        width: 32px;
        height: 32px;
    }
    .loader-circles div {
        border-width: 2px !important;
    }
    .full-width-shift {
        padding: 0 32px;
    }
    .projects-holder a {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .about-cards {
        width: 100%;
    }
    .about-me-card-holder {
        flex-direction: column;
        display: flex;
        padding-top: 56px;
    }
    .landing-image {
        display: none;
    }
    .scroll-down {
        position: relative;
        bottom: 8px;
        margin-top: 16px;
        height: 56px;
        left: 32px;
    }
    body:not(#home-landing) .landing {
        padding: 128px 32px 24px;
        background-position-x: -72px;
        background-size: 100%;
    }
    section {
        padding-left: 32px;
        padding-right: 32px;
    }
    .results-section {
        padding: 56px 32px;
    }
    footer {
        padding: 32px 32px 32px !important;
        gap: 36px;
    }
    section {
        padding: 36px 32px !important;
        gap: 32px;
    }
    .header_cont {
        width: 100%;
    }
    #resume-begins {
        padding: 128px 32px 72px !important;
        /* flex-direction: column; */
        gap: 40px !important;
    }
    #resume-begins .d-flex.d-flex-row.col-100 {
    flex-direction: column;
    gap: 16px;
}
    .resume-detailers,
    #lefter-detailers {
        width: 100%;
        gap: 16px;
    }
    .left-text-divider,
    .right-text-divider {
        gap: 32px;
    }
    body#resume #div-about-grab {
        display: none;
    }
    body#contact article {
        padding: 0 32px 24px;
    }
    .img-why-me {
        display: none;
    }
    #why .text-divider {
        width: 100%;
    }
    .mobile-img-why-me {
        margin-bottom: 56px;
        height: 310px;
    }
    .results-section-title {
        width: 86%;
    }
    .footer-top {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 24px;
    }
    .to-top {
        width: auto;
        padding-right: 0;
        transition: 0.7s;
    }
    .to-top:hover {
        padding-right: 20px;
    }
    .contact-links {
        gap: 20px 12px;
    }
    span.copyright {
        font-size: 10px;
    }
    .caption-text {
        gap: 1px;
    }
    .row {
        flex-direction: column;
        gap: 80px;
    }
    #case-study-body .projects-holder .row {
        gap: 24px;
    }
    .sectioners~.projects-holder {
        margin-top: 12px;
    }
    .caption-text h5 {
        font-size: 16px;
    }
    .p5 {
        font-size: 11px;
    }
    body:not(#home-landing) #case-study {
        padding-bottom: 72px !important;
    }
    #div-about-grab {
        width: 100%;
        height: 248px;
    }
    body#about .landing .text-divider {
        width: 100%;
    }
    #about #home .d-flex {
        flex-direction: column;
        gap: 56px;
    }
    .about-cards:nth-child(2) {
        margin-left: 0;
    }
    .about-cards:nth-child(3) {
        margin-top: 0;
    }
    .testimonials .title-text {
        width: 100%;
    }
    .scroll-down {
        display: none;
    }
    .title {
        width: 100%;
    }
    .title-text {
        width: 100%;
        gap: 0px;
    }
    .title-contact {
        flex-direction: column;
        gap: 8px;
    }
    .left-text-divider .title-text,
    .right-text-divider .title-text {
        gap: 12px;
    }
    .title-text .section {
        gap: 32px;
    }
    h1,
    .h1 {
        font-size: 27px;
    }
    .p4 {
        font-size: 13px;
    }
    .btn_bg {
        width: 52px;
        height: 52px;
    }
    .btn_cont #text,
    .btn_cont i {
        font-size: 14px !important;
    }
    body#home-landing .landing .btn {
        width: 128px;
    }
    .btn {
        height: 52px;
        width: 128px;
    }
    .btn.lng .btn_bg {
        height: 52px;
        width: 52px;
    }
    .btn.lng .btn_cont {
        top: 17px;
    }
    .btn.lng {
        width: 224px;
    }
    .design-style-image {
        width: 100%;
    }
    .design-style .text-divider {
        width: 100%;
    }
    .design-style .col-100-shift {
        flex-direction: column;
        padding-left: 32px;
        padding-right: 32px;
    }
    .deliverables {
        padding-left: 0;
        padding-right: 0;
    }
    .deliverables .deliverables-list {
        animation-duration: 45s;
    }
    .deliverables .deliverables-list:nth-child(2) {
        animation-duration: 50s;
    }
    .why-boxed {
        padding: 0 0 40px;
    }
    .btn.four .btn_bg {
        height: 52px;
        width: 52px;
    }
    .btn.four {
        height: 52px;
        width: 140px;
    }
    .btn.mdn {
        width: 160px;
    }
    .results-section-title .btn.four {
        width: 164px;
    }
    .btn.four .btn_cont {
        top: 18px;
    }
    .preloader {
        padding: 32px;
    }
    .p6 {
        font-size: 9px;
    }
    #xp {
        padding-bottom: 40px !important;
    }
    #clients .col-100-shift {
        padding-left: 32px;
        padding-right: 32px;
    }
    .btn.four .btn_cont {
        left: 16px;
    }
    .results-section-title .btn.four .btn_cont {
        left: 16px;
    }
    #why .btn_cont {
        left: 18px;
    }
    .results-section .btn.mdn .btn_cont {
        left: 15px;
    }
    .text-divider {
        gap: 20px;
    }
    h2,
    .h2 {
        line-height: 1;
    }
    #about h1 {
        line-height: 0.5;
    }
    .landing .text-divider {
        gap: 16px;
    }
    #clients .deliverables {
        padding-top: 28px;
    }
    .testimonials-wrapper .row {
        gap: 32px;
    }
    .testimonials {
        padding-top: 48px !important;
    }
    body#resume #mobile-div-about-grab {
        display: block;
        width: 100%;
    }
    body#case-study-body .landing .case-study-title {
        padding: 136px 32px 0;
    }
    .case-study-header-details {
        flex-direction: column-reverse;
    }
    .case-study-header-details>* {
        width: 100% !important;
    }
    .case-study-header {
        gap: 16px;
    }
    .portfolio-section {
        padding: 48px 0 32px;
    }
    .sectioners {
        flex-direction: column;
        gap: 16px;
        padding: 0 32px;
    }
    .process-sectioners {
        padding: 0;
    }
    .case-study-header-details-text {
        gap: 12px;
    }
    .sectioners .text-divider {
        width: 100%;
    }
    .sectioners .text-divider.sub-title {
        width: 100%;
    }
    @keyframes scroll-text {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-60%);
        }
    }
}