@media screen and (max-width: 800px) {
    navigation,
    .wrapper,
    .cursor,
    footer {
        opacity: 0;
    }
    .cursor {
        pointer-events: none;
        position: fixed;
        padding: 12px;
        background-color: var(--placeholders);
        border-radius: 50%;
        transition: transform 0.3s ease;
        z-index: 100000;
    }
    a:hover~.cursor {
        transform: translate(-50%, -50%) scale(8);
    }
    .col-20 {
        width: 20%;
    }
    .col-30 {
        width: 30%;
    }
    .col-40 {
        width: 40%;
    }
    .col-50 {
        width: 50%;
    }
    .col-60 {
        width: 60%;
    }
    .col-70 {
        width: 70%;
    }
    .col-80 {
        width: 80%;
    }
    .col-90 {
        width: 90%;
    }
    .col-100 {
        width: 100%;
    }
    .d-flex {
        display: flex;
    }
    .d-flex-wrap {
        flex-wrap: wrap;
    }
    .d-flex-row {
        flex-direction: row;
    }
    .d-flex-column {
        flex-direction: column;
    }
    .flex-align-end {
        align-items: flex-end;
    }
    .flex-align-start {
        align-items: flex-start;
    }
    .flex-align-center {
        align-items: center;
    }
    .flex-align-between {
        align-items: space-between;
    }
    .flex-justify-end {
        justify-content: flex-end;
    }
    .flex-justify-start {
        justify-content: flex-start;
    }
    .flex-justify-center {
        justify-content: center;
    }
    .flex-justify-between {
        justify-content: space-between;
    }
    .btn {
        display: inline-block;
        width: 160px;
        height: 64px;
        cursor: pointer;
    }
    .btn.lng {
        width: 264px;
        height: 72px;
    }
    .btn.lng .btn_cont {
        top: 27px;
        left: 42px;
    }
    .btn.lng .btn_bg {
        width: 72px;
        height: 72px;
    }
    .btn.lng.ln {
        height: 88px;
    }
    .btn.lng.ln .btn_bg {
        width: 88px;
        height: 88px;
    }
    .btn.lng.ln:hover>.btn_bg {
        width: 100%;
        border-radius: 8px;
    }
    .btn.lng.ln .btn_cont {
        top: 36px;
        left: 23px;
    }
    .btn.mdn {
        width: 200px;
    }
    .btn:hover>.btn_cont #text,
    .btn:hover>.btn_cont i {
        color: var(--neutral);
    }
    .btn:hover>.btn_bg {
        width: 100%;
        border-radius: 8px;
    }
    .btn_bg {
        width: 64px;
        height: 64px;
        background: var(--secondary);
        border-radius: 64px;
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;
    }
    .btn_cont {
        position: absolute;
        top: 22px;
        left: 34px;
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .results-section .btn_cont {
        left: 34px;
        top: 24px;
    }
    .btn_cont #text,
    .btn_cont i {
        font-size: 18px;
        font-weight: 700 !important;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: var(--secondary);
        transition: 1.5s;
        word-spacing: 4px;
    }
    btn_cont #text {
        font-family: "Grathink", sans-serif;
    }
    .btn_cont #text span {
        color: var(--neutral);
    }
    .row {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 16px;
        flex-wrap: wrap;
    }
    section {
        padding-top: 160px;
        padding-left: 128px;
        padding-right: 128px;
        background-size: 96%;
        overflow: auto;
    }
    .text-divider,
    .title-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 64%;
        left: 0px;
        top: 0px;
        flex: none;
        order: 0;
        flex-grow: 0;
        gap: 24px;
    }
    .title-text {
        gap: 8px;
        text-align: left;
        width: 556px;
    }
    .text-divider a:not(.case-study-link) {
        color: var(--secondary);
        font-weight: 700;
        display: inline-block;
    }
    .text-divider a:not(.case-study-link)::after {
        content: "";
        width: 100%;
        height: 2px;
        background: var(--secondary);
        position: absolute;
        bottom: 4px;
        left: 0;
        transition: 0.6s;
        border-radius: 2px;
        top: unset;
    }
    .text-divider a:not(.case-study-link):hover::after {
        width: 50%;
    }
    #liner {
        width: 124px;
        background: var(--secondary);
        height: 2px;
    }
    .hidden {
        display: none !important;
    }
    .placeholder {
        color: var(--placeholders);
    }
    .error {
        color: var(--error);
        font-weight: 800;
    }
    .labels {
        display: flex;
        justify-content: space-between;
    }
    .pop-up {
        background: var(--secondary);
        color: var(--neutral);
        display: flex;
        flex-direction: column;
        padding: 24px 32px 32px;
        gap: 4px;
        width: auto;
        position: fixed;
        top: 20%;
        right: -48%;
        left: unset;
        text-align: center;
        align-items: center;
        z-index: 9999;
        transition: 0.8s;
    }
    .pop-up i {
        font-size: 48px;
    }
    .pop-up p {
        width: 236px;
    }
    .pop-up.show {
        right: 0;
    }
    .pop-up.show.error {
        background-color: var(--error);
    }
    .d-flex {
        display: flex;
    }
    .flex-wrap {
        flex-wrap: wrap;
    }
    .modal {
        position: fixed;
        z-index: 10000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(2px);
        -moz-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 32px 32px;
        gap: 32px;
        opacity: 1;
        overflow-y: scroll;
        transform: scale(1);
        -webkit-transition: opacity 0.9s linear, z-index 0.3s linear, transform 0.9s linear;
        -moz-transition: opacity 0.9s linear, z-index 0.3s linear, transform 0.9s linear;
        -o-transition: opacity 0.9s linear, z-index 0.3s linear, transform 0.9s linear;
        transition: opacity 0.9s linear, z-index 0.3s linear, transform 0.9s linear;
    }
    .img-holder {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        overflow: auto;
        display: flex;
    }
    .img-holder::-webkit-scrollbar {
        height: 8px;
    }
    .zoom-in {
        cursor: grab;
    }
    .img-holder img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .img-holder img.zoom-in {
        top: 0;
        left: 0;
    }
    span.cuddles {
        background: var(--neutral);
        padding: 10px 12px;
        border-radius: 24px;
        -webkit-transition: all 1.4s linear;
        -moz-transition: all 1.4s linear;
        -o-transition: all 1.4s linear;
        transition: all 1.4s linear;
        cursor: pointer;
        color: var(--secondary);
    }
    span#close,
    .zooms {
        z-index: -20000;
        opacity: 0;
        position: fixed;
        right: 7%;
        top: 6%;
    }
    span#close.fixed,
    .zooms.fixed {
        z-index: 20000;
        opacity: 1;
    }
    .zooms {
        display: flex;
        flex-direction: column;
        gap: 10px;
        bottom: 6%;
        top: unset;
    }
    .modal.hideout {
        z-index: -10000;
        opacity: 0;
        transform: scale(0.1);
    }
    .col-100 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .col-100-shift {
        padding: 0 128px;
        width: 100%;
    }
    .italic {
        font-style: italic;
    }
    .bold {
        font-weight: bold;
    }
    iframe {
        width: 100%;
        height: 500px;
    }
    .contact-info li {
        margin-bottom: 0;
    }
    body#case-study-body .landing .case-study-img {
        height: 350px;
    }
    .pop-up {
        right: -86%;
    }
    .pop-up p {
        width: 196px;
    }
    #tag-single {
        padding: 12px 16px;
    }
    .tags-row div {
        gap: 8px;
    }
    #resume-begins {
        padding: 42px 48px;
    }
    .title {
        flex-direction: column;
        row-gap: 24px;
    }
    .title-contact {
        text-align: left;
        column-gap: 11px;
    }
    .resume-body {
        gap: 36px;
    }
    .left-text-divider,
    .right-text-divider {
        width: 100%;
        row-gap: 36px;
    }
    .btn.lng.ln {
        width: 198px;
        height: 72px;
    }
    .btn.lng.ln .btn_cont {
        top: 29px;
        left: 16px;
    }
    .btn.lng.ln .btn_cont #text {
        font-size: 12px;
    }
    .btn.lng.ln .btn_bg {
        height: 72px;
        width: 72px;
    }
    a.download i {
        font-size: 20px;
    }
    a.download {
        padding: 20px 14px;
        gap: 0;
    }
    .testimonials-wrapper .row {
        flex-direction: column;
        gap: 56px;
        width: 100%;
    }
    .testimonials .title-text {
        margin-right: 0;
        align-items: flex-start;
        text-align: left;
        gap: 16px;
    }
    .testimonials .title-text p {
        width: 225px;
    }
    .client {
        width: 100%;
        gap: 10px;
        flex: 100%;
    }
    .testimonials-wrapper {
        gap: 64px;
        padding-bottom: 24px;
    }
    .testimonials {
        padding-bottom: 56px;
        background-size: cover;
        padding-top: 72px;
        gap: 20px !important;
    }
    .testimonials .title-text h2 {
        font-size: 20px;
    }
    .about-me-card-holder {
        flex-direction: row;
    }
    .about-cards {
        width: 33%;
        height: auto;
        gap: 32px;
    }
    .about-cards:nth-child(2) {
        margin-top: 0;
    }
    #CV img {
        width: 64px;
    }
    #CV {
        gap: 16px !important;
        padding: 80px 32px;
    }
    #CV .btn_cont #text,
    #CV .btn_cont i {
        font-size: 24px;
    }
    #CV .btn.mdn .btn_bg {
        width: 80px;
        height: 80px;
    }
    #CV .btn.mdn .btn_cont {
        left: 21px;
        top: 23px;
    }
    #CV .btn.mdn:hover .btn_bg {
        width: 100%;
    }
    #CV .btn.mdn {
        width: 196px;
        height: 80px;
    }
    #xp {
        background-size: cover;
        background-position-x: -747px;
        background-position-y: -45px;
        padding-bottom: 64px;
    }
    .experience_card {
        width: 100%;
        text-align: left !important;
    }
    .experience-body .row:nth-child(even) .experience_card {
        text-align: right !important;
        border-top: 1px solid var(--placeholders);
        border-bottom: 1px solid var(--placeholders);
    }
    .experience-body .row:last-child .experience_card {
        border-bottom: 0;
    }
    .experience-body .row {
        justify-content: flex-start !important;
    }
    .xp-vector {
        opacity: 0.4;
        height: 1108px;
    }
    .projects-holder a {
        width: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .projects-holder a:nth-child(even) {
        top: 0px;
    }
    .footer-top {
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 16px;
    }
    .tags-row .h5 {
        text-align: left;
    }
    .tags-row {
        gap: 8px;
    }
    body#home-landing #case-study {
        padding-top: 112px;
        padding-bottom: 24px;
        gap: 48px !important;
    }
    body:not(#home-landing) #case-study {
        padding-bottom: 64px;
        padding-top: 0;
        display: block;
    }
    #design-section {
        padding-bottom: 64px;
        gap: 80px;
    }
    .experience-body .row:nth-child(even) .experience_card::before {
        display: none;
    }
    .experience-body .row:nth-child(even) .experience_card::after {
        display: none;
    }
    .experience-body .row:nth-child(odd) .experience_card::before {
        display: none;
    }
    .experience-body .row:nth-child(odd) .experience_card::after {
        display: none;
    }
    .pagination {
        justify-content: center;
    }
    .col-100-shift {
        padding: 0 48px;
    }
    .context-menu {
        position: fixed;
    }
    .context-menu ul li #inner-down {
        position: relative;
        display: table;
    }
    #contextMenu i {
        transform: rotate(90deg);
    }
    #quote {
        width: 90%;
        font-size: 24px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 560px) {
    .preloader .h1 {
        font-size: 16px;
        letter-spacing: 0.5em;
    }
    .loader-circles {
        width: 32px;
        height: 32px;
    }
    .loader-circles div {
        border-width: 2px !important;
    }
    .design-styles .row {
        padding: 0 32px;
    }
    .col-100-shift {
        padding: 0 32px;
    }
    .projects-holder a {
        width: 100%;
        flex: 100%;
        max-width: 100%;
    }
    .about-cards {
        width: 100%;
    }
    .about-me-card-holder {
        flex-direction: column;
    }
    .landing-image {
        display: none;
    }
    .scroll-down {
        position: relative;
        bottom: 8px;
        margin-top: 16px;
        height: 56px;
        left: 32px;
    }
    body:not(#home-landing) .landing {
        padding: 136px 32px 40px;
    }
    section {
        padding-left: 32px;
        padding-right: 32px;
    }
    .results-section {
        padding: 64px 32px;
    }
    footer {
        padding: 32px 32px 32px;
        gap: 8px;
    }
    .header_cont {
        padding: 0 32px;
        gap: 32px;
    }
    #resume-begins {
        padding: 42px 32px;
    }
    body#contact article {
        padding: 0 32px 24px;
    }
}


/* 
@media screen and (max-width:340px) {
    .project {
        width: 250px;
    }

    .project img {
        width: 250px;
    }
} */