navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 48px 120px 48px 128px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    background: transparent;
    transition: 1s;
}

navigation.fixed {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(16px);
    -moz-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    box-shadow: 0px 4px 30px rgba(94, 94, 94, 0.09);
    padding-top: 32px;
    padding-bottom: 32px;
}

.logo {
    order: 0;
    flex-grow: 0;
}

.logo img {
    width: 100%;
    height: 100%;
}

.mobile-nav {
    display: none;
}

.mobile-nav-opener {
    display: none;
    padding: 8px;
    /* width: 40px; */
}

.mobile-nav-opener:hover div {
    background: var(--placeholders);
}

.mobile-nav-opener div {
    width: 24px;
    height: 2px;
    margin-top: 6px;
    background: var(--secondary);
    transition: 1s;
}

.mobile-nav-opener div:first-child {
    margin-top: 0;
    transform: unset;
    top: 0;
}

.mobile-nav-opener div:nth-child(2) {
    transform: unset;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: auto;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    gap: 24px;
}

.nav-links li {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.nav-links li::after {
    content: "";
    background: var(--secondary);
    width: 0%;
    height: 1.3px;
    border-radius: 4px;
    transition: 1.2s;
    left: 7px;
    top: -13px;
    display: inline-block;
    position: relative;
}

.nav-links li:hover::after,
.nav-links li.active::after {
    width: 50%;
}

.nav-links li:hover a {
    color: var(--secondary);
}

.mobile-nav .nav-links {
    background-color: var(--neutral);
}

navigation .remmit {
    font-size: 48px;
    color: var(--secondary);
}