@-moz-keyframes rotatecircle {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotatecircle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotatecircle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--neutral);
    /* background: linear-gradient(45deg, var(--placeholders) 1px, var(--neutral) 1px); */
    background-size: 10px 10px;
    gap: 32px;
    padding: 32px 128px 32px;
}

.preloader #status {
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
}

.preloader #status::before {
    content: "";
    animation: status 24s linear;
    animation-fill-mode: forwards;
    transition: 0.6s;
}

.contact.preloader #status::before {
    content: "";
    animation: contact-status 24s linear;
    animation-fill-mode: forwards;
    transition: 0.6s;
}

.links.preloader #status::before {
    content: "";
    animation: links-status 24s linear;
    animation-fill-mode: forwards;
    transition: 0.6s;
}

.status-loader div {
    height: 2px;
    background-color: var(--placeholders);
    width: 100%;
    display: inline-block;
}

.status-loader {
    width: 100%;
    margin-bottom: 32px;
}

.remmit {
    font-family: 'Romantica Signature';
    font-size: 64px;
    line-height: 1;
}

.status-loader div::before {
    content: "";
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    background: var(--secondary);
    height: 100%;
    animation: loaded 24s ease-in-out;
    animation-fill-mode: forwards;
}

.loader__dot {
    animation: 1s blink infinite;
    font-weight: 900;
}

.loader__dot:nth-child(2) {
    animation-delay: 250ms;
}

.loader__dot:nth-child(3) {
    animation-delay: 500ms;
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

@keyframes loaded {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        background: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        background: transparent;
    }
}

@keyframes status {
    0% {
        content: "Loading up fonts and styles";
    }
    10% {
        content: "Loading up fonts and styles";
    }
    20% {
        content: "Loading up fonts and styles";
    }
    33% {
        content: "Loading up fonts and styles";
    }
    34% {
        content: "Applying the layouts";
    }
    50% {
        content: "Applying the layouts";
    }
    60% {
        content: "Applying the layouts";
    }
    66% {
        content: "Applying the layouts";
    }
    67% {
        content: "Removing the unncessary stuff";
    }
    90% {
        content: "Removing the unncessary stuff";
    }
    100% {
        content: "Removing the unncessary stuff";
    }
}

@keyframes contact-status {
    0% {
        content: "Sending your message";
    }
    100% {
        content: "Sending your message";
    }
}

@keyframes links-status {
    0% {
        content: "Getting your link";
    }
    100% {
        content: "Getting your link";
    }
}