img.case-study-img {
    object-fit: cover;
}

.process-sectioners .text-divider .left a {
    color: var(--links);
    display: block;
    font-size: 20px;
    font-weight: 400;
    width: 170px;
    margin-left: 20px;
}

.process-sectioners .text-divider .left a::after {
    background: var(--links);
    height: 1px;
    top: 100%;
}

#case-study {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-top: 0;
    padding-bottom: 128px;
    height: auto;
    display: table;
}

body#home-landing #case-study {
    padding-top: 152px;
    padding-bottom: 152px;
    display: flex;
    background-color: var(--accent);
    /* background: linear-gradient(1deg, var(--neutral) 1px, var(--accent) 1px); */
    background-size: 5px 5px;
    overflow: hidden;
}

.case-study-title-top {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.case-study-header {
    gap: 24px;
}

.case-study-header-details {
    gap: 80px;
}

.case-study-header-details-text {
    gap: 12px;
}

.case-studies-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 64px;
    padding-bottom: 48px;
}

.p-tools {
    gap: 14px;
}

.p-tools .project_tools {
    /* padding: 5px 40px; */
    /* border: 1px solid; */
    display: inline-block;
    /* text-align: center; */
}

.project_tools_mother {
    gap: 8px;
}

img#show_reeler {
    object-fit: cover;
    height: 480px;
    background-color: var(--accent);
}

.projects-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.sectioners~.projects-holder {
    margin-top: 40px;
}

body:not(#home-landing) #case-study {
    padding-top: 48px;
    padding-bottom: 120px;
}

body:not(#home-landing) #case-study .case-studies-body {
    padding-bottom: 0;
}

.project {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    transition: 0.4s;
    align-items: center;
}

.flexer {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project img {
    width: 100%;
    height: auto;
    background: var(--accent);
    transition: 0.5s;
}

.caption {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 24px 0 0;
    color: var(--secondary);
}

.caption-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    word-break: break-word;
}

.caption-text h5 {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.caption-text span.year {
    width: 10%;
    padding-top: 2px;
    text-align: right;
}

.caption-text .before-year {
    width: 84%;
}

.projects-holder a#projector {
    display: block;
    width: 100%;
    height: fit-content;
    flex-grow: 0;
}

#tag-single {
    padding: 12px 24px;
    display: inline-block;
    background-color: var(--ink);
    color: var(--neutral);
}

.tags-row {
    display: flex;
    gap: 16px;
    margin-top: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.tags-row div {
    display: flex;
    gap: 12px;
}

.return-button {
    gap: 16px;
    color: var(--secondary);
    align-items: center;
    width: auto;
    display: inline-flex;
}

.return-button i {
    font-size: 20px;
}

.return-button i+*::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--secondary);
    display: block;
    left: 0;
    position: relative;
    top: 2px;
    transition: 1.2s;
}

.return-button:hover i+*::after {
    width: 50%;
}

body#case-study-body .landing {
    padding: 0;
}

body#case-study-body .landing .case-study-title {
    padding: 160px 128px 104px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0 128px;
    gap: 120px;
}

.add .portfolio-section {
    padding-top: 16px;
}

.portfolio-section .project {
    width: 47%;
    height: auto;
    gap: 12px;
    align-items: flex-start;
    flex-grow: 1;
}

.portfolio-section .project img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#case-study-body .title-text {
    gap: 4px;
    width: auto;
}

#case-study-body .title-text * {
    word-break: break-word;
}

.row.grid .project img {
    height: auto;
    width: 100%;
    cursor: zoom-in;
}

.row.grid .project {
    width: 100%;
    height: auto;
}

.row.grid {
    gap: 12px;
}

.sectioners .text-divider {
    width: 20%;
    gap: 4px;
}

.sectioners #process-text-divider {
    width: 100%;
}

.sectioners {
    gap: 4%;
    padding: 0 128px;
}

/*.sectioners.show_reeler {*/
/*    padding: 0;*/
/*}*/

.process-sectioners {
    gap: 40px;
    padding: 0;
}

.process-sectioners .text-divider .p4 {
    width: 64% !important;
    flex-grow: 1;
}

.process-sectioners .text-divider .left {
    gap: 2%;
}

.process-sectioners .text-divider h3 {
    width: fit-content;
    margin: 0;
}

.sectioners .text-divider.sub-title {
    width: 76%;
}

.process-contents .text-divider.sub-title {
    width: 100%;
}

.process-contents {
    gap: 120px;
}

.sectioners .text-divider.sub-title p {
    width: 100%;
    word-break: break-word;
}

#tag-single.secondary {
    background-color: var(--neutral) transparent;
    color: var(--secondary);
    border: 1px solid;
    cursor: pointer;
    transition: 1.2s all;
}

span#project-counter {
    padding: 6px 12px 4px;
    border-radius: 50%;
    background: var(--secondary);
    color: var(--neutral);
    margin-left: 10px;
}

#tag-single.secondary:hover,
#tag-single.secondary.active {
    background-color: var(--ink);
    color: var(--neutral);
    border-color: var(--ink);
}

#tag-single.secondary:hover span#project-counter {
    background: var(--placeholders)
}

.pagination * {
    font-size: 32px;
    color: var(--placeholders);
}

.pagination *.active {
    color: var(--background-circles);
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
}

.testimonials .pagination * {
    color: var(--placeholders);
    background: rgb(255 255 255 / 60%);
    padding: 8px 12px;
    border-radius: 50%;
    transition: 1.2s;
    -webkit-backdrop-filter: blur(32px);
    -moz-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    box-shadow: 0px 4px 30px rgb(94 94 94 / 24%);
}

.testimonials .pagination *:hover,
.testimonials .pagination *.active:hover {
    background: var(--background-circles);
}

.testimonials .pagination *.active {
    color: var(--neutral);
    background: rgb(144, 144, 144, 0.64);
    -webkit-backdrop-filter: blur(32px);
    -moz-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    box-shadow: 0px 4px 30px rgb(94, 94, 94, 0.24);
}

.testimonials .pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 56%;
    z-index: 100;
    padding: 0 20px;
}

.portfolio-section .personae .project {
    width: 100%;
    height: auto;
}

.portfolio-section .personae .project img {
    width: 100%;
    height: auto;
}

.view {
    text-decoration: underline;
}