.scroll-down {
    height: 104px;
    display: table;
}

.scroll-down p {
    transform: rotate(-90deg);
    font-weight: 900;
}

#arrow-tail-long {
    width: 1px;
    height: 56px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 49%;
    margin-top: 10px;
}


#arrow-tail-long::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    background: var(--secondary);
    animation: scroll-in 3s infinite
}

#arrow-tail-long::after {
    content: '';
    border: solid var(--secondary);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -4px;
    position: absolute;
    bottom: 0;
}

@keyframes scroll-in{
    from{
        height: 20%;
        bottom: 80%;
    }
    to{
        height: 80%;
        bottom: 0;
    }
}