@import "preloader.css";
@import "font.css";
@import "texts.css";
@import "nav.css";
@import "landing.css";
@import "project.css";
@import "design-style.css";
@import "why.css";
@import "footer.css";
@import "context-menu.css";
@import "form.css";
@import "general.css";
@import "cv.css";
@import "about.css";
@import "mobile.css";
@import "error.css";
:root {
    --neutral: #fff;
    --secondary: #1a1a1a;
    --accent: #f5f5f5;
    --ink: #3e3e3e;
    --links: #006ba7;
    --placeholders: #bdbdbd;
    --error: #b60707;
}

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

html,
body {
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
    color: var(--secondary);
    min-height: 100vh;
    /* cursor: none; */
    scrollbar-width: none;
    font-family: "Evolventa";
    background-color: var(--neutral);
    background: linear-gradient(45deg, var(--placeholders) 1px, var(--neutral) 1px);
    background-size: 10px 10px;
}

body {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--accent);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
}