h1,
.h1 {
    font-family: "Evolventa";
    font-size: 52px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
}

h2,
.h2 {
    font-family: "Evolventa";
    font-size: 40px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
}

h3,
.h3 {
    font-family: "Evolventa";
    font-size: 32px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
}

h4,
.h4 {
    font-family: "Evolventa";
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
}

h5,
.h5 {
    font-family: "Evolventa";
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

h6,
.h6 {
    font-family: "Evolventa";
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
}

.p1 {
    font-family: "Evolventa";
    font-size: 48px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
}

.p2 {
    font-family: "Evolventa";
    font-size: 36px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
}

.p3 {
    font-family: "Evolventa";
    font-size: 28px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
}

.p4 {
    font-family: "Evolventa";
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
}

.p5 {
    font-family: "Evolventa";
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
}

.p6 {
    font-family: "Evolventa";
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
}

h2 a,
p a {
    color: var(--links);
    transition: 1.2s opacity;
    font-weight: 400;
    display: inline-block;
}

h2 a::before,
p a::before {
    content: '';
    width: 100%;
    position: absolute;
    background: var(--links);
    height: 1px;
    bottom: 6px;
    transition: 1s;
}

h2 a:hover,
p a:hover {
    text-decoration: none;
    opacity: 0.9;
}

h2 a:hover::before,
p a:hover::before {
    width: 20%;
}

h2 a::after,
p a::after {
    content: "\f061";
    display: inline-block;
    font-family: "Line Awesome Free";
    font-weight: 900;
    margin-left: 2px;
    transform: rotate(-45deg);
}

#highlight {
    font-style: italic;
    font-weight: 800;
    display: inline-block;
    line-height: 1.4;
}

#highlight::after {
    content: "";
    width: 100%;
    background-color: var(--secondary);
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 14px;
}

.nav-links li a {
    font-family: "Evolventa";
    color: var(--secondary);
    flex: none;
    flex-grow: 0;
    padding: 8px;
}

.mobile-nav .nav-links li a {
    color: var(--neutral);
}

.btn_cont #text {
    font-family: "Evolventa";
    font-weight: 400;
}

.experience-section p span:last-child{
    font-size: 14px;
    display: block;
}