.h0 {
    font-family: "Skarpa";
    font-size: 64px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
}

h1,
.h1 {
    font-family: "Skarpa";
    font-size: 64px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    word-spacing: -8px;
    letter-spacing: -1px;
}

h2,
.h2 {
    font-family: "Skarpa";
    font-size: 48px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
}

h3,
.h3 {
    font-family: "Skarpa";
    font-size: 32px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
}

h4,
.h4 {
    font-family: "Skarpa";
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
}

h5,
.h5 {
    font-family: "Skarpa";
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
}

h6,
.h6 {
    font-family: "Skarpa";
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
}

.p0 {
    font-family: "Skarpa";
    font-size: 56px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: var(--ink);
}

.p1 {
    font-family: "Skarpa";
    font-size: 48px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: var(--ink);
}

.p2 {
    font-family: "Skarpa";
    font-size: 40px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--ink);
}

.p3 {
    font-family: "Skarpa";
    font-size: 32px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    color: var(--ink);
}

.p4 {
    font-family: "Skarpa";
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.6px;
    color: var(--ink);
}

.p5 {
    font-family: "Skarpa";
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: -0.7px;
    color: var(--ink);
}

.p6 {
    font-family: "Skarpa";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0;
    color: var(--ink);
}

h2 a,
p a {
    color: var(--links);
    text-decoration: underline;
    transition: 0.5s opacity;
    font-weight: 400;
}

h2 a:hover,
p a:hover {
    text-decoration: none;
    opacity: 0.9;
}

h2 a::after,
p a::after {
    content: "\f061";
    display: inline-block;
    font-family: "Line Awesome Free";
    font-weight: 900;
    margin-left: 2px;
    transform: rotate(-45deg);
}

#highlight {
    font-style: italic;
    font-weight: 800;
}

#highlight::after {
    content: "";
    width: 100%;
    background-color: var(--accent);
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#quote {
    font-style: italic;
    margin: 40px 0;
    display: block;
    font-size: 26px;
    width: 100%;
    line-height: 1.5;
    color: var(--placeholders);
    border-left: 4px solid;
    padding-left: 12px;
}

.nav-links li a {
    font-family: "Skarpa";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* identical to box height, or 140% */
    /* secondary */
    color: var(--ink);
    /* text-transform: uppercase; */
    flex: none;
    flex-grow: 0;
    padding: 8px;
}

.btn_cont #text {
    font-family: "Skarpa";
    font-weight: 400;
    /* word-spacing: 1px; */
    font-size: 21px !important;
}