#why {
    width: 100%;
    padding: 0 128px 90px;
    margin-right: 0;
    overflow: visible;
}

.why-boxed {
    padding: 72px 64px;
}

.why-boxed::before {
    background: var(--accent);
    width: 95%;
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#why .text-divider {
    width: 50%;
    margin-bottom: 48px;
}

.img-why-me {
    position: absolute;
    right: 0;
    top: 19%;
    width: 45%;
    height: 90%;
    background: url(../img/why-me-2.jpg);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* filter: grayscale(1); */
    /* transform: rotate(12deg); */
    z-index: 1;
    background-color: var(--secondary);
    /*     border-radius: 1000px 1000px 0 0; */
}
