#why {
    width: 100%;
    padding: 0 128px 90px;
    margin-right: 0;
    overflow: visible;
}

.why-boxed {
    padding: 88px 64px;
}

.why-boxed::before {
    background: var(--accent);
    width: 95%;
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--accent);
    /* background: linear-gradient(1deg, var(--neutral) 1px, var(--accent) 1px); */
    background-size: 5px 5px;
}

#why .text-divider {
    width: 50%;
    margin-bottom: 48px;
}

.img-why-me,
.mobile-img-why-me {
    position: absolute;
    right: 0;
    top: 19%;
    width: 45%;
    height: 90%;
    background: url(../img/why-me-2.webp);
    background-position: top;
    background-size: cover;
    background-color: var(--secondary);
    border: none;
}

.mobile-img-why-me {
    position: relative;
    display: none;
}