#design-section {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 128px;
}

.design-style {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.design-styles {
    overflow-x: auto;
    padding-bottom: 48px;
}

.design-styles::-webkit-scrollbar {
    height: 4px;
}

.design-rule-set {
    color: var(--neutral);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.design-rule {
    width: 360px;
    height: 472px;
    left: 0px;
    top: 0px;
    /* secondary */
    background: var(--background-circles);
    display: inline-flex;
    flex-direction: column;
    padding: 64px 32px 48px;
    gap: 32px;
    margin-right: 32px;
}

.design-rule:last-child {
    margin-right: 0;
}

.design-styles .row {
    display: table;
    min-width: calc((392px * 4) + 64px);
    width: auto;
    padding-right: 32px;
}

.icon {
    width: 56px;
    height: 64px;
}

.icon img {
    width: 100%;
    height: 100%;
}