form {
    width: 100%;
    padding: 32px 128px 128px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../img/background.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.form-body {
    padding: 0 124px;
    display: flex;
    gap: 48px;
    flex-direction: column;
    width: 100%;
}

.form-group {
    width: 100%;
}

.form-group.dual {
    display: flex;
    gap: 48px;
}

.input-group {
    display: flex;
    margin-top: 0;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.form-input {
    width: 100%;
    padding: 8px 16px 8px 4px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secondary);
    color: var(--secondary);
    background: none;
}

.form-area {
    height: 104px;
    resize: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

button.btn {
    width: 156px;
}

button .btn_cont {
    left: 28px;
    top: 24px;
}