@-moz-keyframes rotatecircle {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotatecircle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes rotatecircle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: var(--neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.preloader h1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.6em;
    color: var(--secondary);
}

.loader-circles {
    height: 48px;
    width: 48px;
}

.loader-circles div {
    border: 4px solid var(--placeholders);
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    border-radius: 50%;
    border-top: 5px solid transparent;
    -moz-animation: rotatecircle 4s infinite linear;
    -webkit-animation: rotatecircle 4s infinite linear;
    animation: rotatecircle 4s infinite linear;
}

.loader-circles div:nth-child(2) {
    width: 75%;
    height: 75%;
    left: calc(25%/2);
    top: calc(25%/2);
    border-left: 4px solid transparent;
    border-right: 4px solid var(--placeholders);
    border-top: 4px solid var(--placeholders);
    animation-direction: reverse;
}

.loader-circles div:nth-child(3) {
    width: 50%;
    height: 50%;
    left: calc(50%/2);
    top: calc(50%/2);
    border-bottom: 4px solid transparent;
    border-right: 4px solid var(--placeholders);
    border-top: 4px solid var(--placeholders);
}