:root {
    --neutral: #fff;
    --secondary: #000;
    --accent: #f4f4f4;
    --ink: #5e5e5e;
    --links: #006ba7;
    --placeholders: #909090;
    --error: #d90606;
    --background-circles: #1d1d1d;
}

@keyframes dance {
    0% {
        top: 0;
    }
    50% {
        top: -70px;
    }
    100% {
        top: 0px;
    }
}

@keyframes upside-dance {
    0% {
        bottom: 0;
    }
    50% {
        bottom: -70px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes glow {
    0% {
        background-image: linear-gradient(to right, #000 100%, #fff 0%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25% {
        background-image: linear-gradient(to right, #000 0%, #fff 33%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50% {
        background-image: linear-gradient(to right, #000 0%, #fff 66%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75% {
        background-image: linear-gradient(to right, #000 0%, #fff 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100% {
        background-image: linear-gradient(to right, #000 0%, #fff 0%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes shrink {
    0% {
        top: 0;
        transform: scale(1.2);
        transform: rotate(-25deg);
    }
    25% {
        transform: scale(0.9);
        transform: rotate(0deg);
        top: -50px;
    }
    50% {
        transform: scale(1.2);
        transform: rotate(25deg);
        top: 0px
    }
    75% {
        transform: scale(0.9);
        transform: rotate(0deg);
        top: -50px;
    }
    100% {
        transform: scale(1.2);
        transform: rotate(-25deg);
        top: 0;
    }
}

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    /* transition: 1.8s; */
}

html,
body {
    font-size: 15px;
    width: 100%;
    height: 100%;
    background: var(--neutral);
    scroll-behavior: smooth;
    color: var(--secondary);
    min-height: 100%;
}

body {
    overflow: hidden;
}

@font-face {
    font-family: AbhayaLibre;
    src: local(AbhayaLibre-Regular), url(/assets/fonts/AbhayaLibre/AbhayaLibre-Regular.woff2) format("woff2"), url(/assets/fonts/AbhayaLibre/AbhayaLibre-Regular.woff) format("woff"), url(/assets/fonts/AbhayaLibre/AbhayaLibre-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: AbhayaLibre;
    src: local(AbhayaLibre-Medium), url(/assets/fonts/AbhayaLibre/AbhayaLibre-Medium.woff2) format("woff2"), url(/assets/fonts/AbhayaLibre/AbhayaLibre-Medium.woff) format("woff"), url(/assets/fonts/AbhayaLibre/AbhayaLibre-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: PlayfairDisplay;
    src: local(PlayfairDisplay-Bold), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2) format("woff2"), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff) format("woff"), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: PlayfairDisplay;
    src: local(PlayfairDisplay-ExtraBold), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.woff2) format("woff2"), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.woff) format("woff"), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: PlayfairDisplay;
    src: local(PlayfairDisplay-Black), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-Black.woff2) format("woff2"), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-Black.woff) format("woff"), url(/assets/fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

.h0 {
    font-family: PlayfairDisplay;
    font-size: 64px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 3.2px;
}

h1 {
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1.44px;
}

h2 {
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.64px;
}

h3 {
    font-family: PlayfairDisplay;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.96px;
}

h4 {
    font-family: PlayfairDisplay;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.96px;
}

h5 {
    font-family: PlayfairDisplay;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

h6 {
    font-family: PlayfairDisplay;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.16px;
}

.p0 {
    font-family: AbhayaLibre;
    font-size: 64px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p1 {
    font-family: AbhayaLibre;
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p2 {
    font-family: AbhayaLibre;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.p3 {
    font-family: AbhayaLibre;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.paragraphsdescriptions {
    font-family: AbhayaLibre;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.p4 {
    font-family: AbhayaLibre;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.p5 {
    font-family: AbhayaLibre;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p6 {
    font-family: AbhayaLibre;
    font-size: 8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.title {
    width: auto;
    height: auto;
    display: inline-block;
    top: 60px;
    left: 0;
}

.title h1 {
    font-family: PlayfairDisplay;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    text-align: left;
    color: var(--secondary);
}

.title h1 span {
    color: var(--secondary);
}

.logo img {
    width: 64px;
}

.landing {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0 152px;
}

.wrapper,
.row {
    width: 100%;
    height: 100%;
}

.logo {
    padding: 32px 0;
}

.bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg #vector-1 {
    position: absolute;
    top: -80px;
    left: 0;
    width: 33.5%;
    height: auto;
}

.bg #vector-2 {
    position: absolute;
    width: 200px;
    left: unset;
    right: 14%;
    top: 14%;
}

.bg #vector-3 {
    position: absolute;
    width: 450px;
    left: 20%;
    right: unset;
    top: unset;
    bottom: -135px;
}

.bg img {
    width: 100%;
}

.bg #vector-1 img {
    animation: dance 12.5s ease-in-out infinite;
}

.bg #vector-2 img {
    animation: upside-dance 17.5s ease-in-out infinite;
}

.bg #vector-3 img {
    animation: shrink 25.5s ease-in-out reverse infinite;
}

img#arrow {
    position: absolute;
    top: 309px;
    left: 372px;
    width: 350px;
}

.subtitle p {
    width: 480px;
    margin: 0;
    font-family: AbhayaLibre;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: var(--secondary);
}

.subtitle p a {
    font-weight: 800;
    color: var(--links);
    text-decoration: underline;
}

.subtitle p a i {
    display: inline-block;
    transform: rotate(-45deg);
    margin-left: 3px;
    top: 3px;
}

.subtitle {
    top: 83px;
    right: 20px;
    left: unset;
    display: flex;
    justify-content: end;
    padding-right: 120px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    padding: 24px 330px 24px 152px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.footer-top {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    gap: 16px;
}

.footer-top a {
    flex-grow: 0;
    font-family: PlayfairDisplay;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.72px;
    text-align: left;
    color: var(--placeholders);
}

.footer-top a:hover {
    color: var(--secondary);
}

.copyright {
    flex-grow: 0;
    font-family: AbhayaLibre;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.64px;
    text-align: left;
    color: var(--placeholders);
}

.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--neutral);
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--neutral);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader h1 {
    font-family: AbhayaLibreExtraBold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 18.8px;
    text-align: center;
    animation: glow 2.5s linear;
}

@media screen and (max-width:1024px) {
    img#arrow {
        position: relative;
        width: 150px;
        left: -98px;
        top: 60px;
    }
    .title h1 {
        font-size: 32px;
    }
    .subtitle p {
        width: 310px;
    }
    .subtitle {
        padding-right: 0;
        top: 80px;
    }
    .landing {
        padding: 0 104px;
    }
    footer {
        padding: 24px 104px;
    }
    .footer-top a {
        font-size: 12px;
    }
    .copyright {
        font-size: 10px;
    }
    .bg #vector-1 {
        top: 0;
        left: 0;
        width: 250px;
    }
    .bg #vector-3 {
        width: 300px;
    }
    .cursor {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .landing {
        padding: 0 48px;
    }
    .title h1 {
        font-size: 24px;
        line-height: 1.4;
    }
    .subtitle {
        padding-right: 0;
        width: 100%;
        right: 0;
        top: 104px;
    }
    .subtitle p {
        width: 250px;
        text-align: right;
        font-size: 16px;
    }
    img#arrow {
        position: relative;
        left: 0;
        top: 81px;
    }
    footer {
        padding: 24px 48px;
    }
}