@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'preloader.css';
@import 'nav.css';
@import 'landing.css';
@import 'project.css';
@import 'design-style.css';
@import 'why.css';
@import 'scroll-down.css';
@import 'footer.css';
@import 'context-menu.css';
@import 'form.css';

/* @import "mobstyle.css" screen and (max-width: 768px); */

:root {
    --neutral: #fff;
    --secondary: #000;
    --accent: #f4f4f4;
    --ink: #5e5e5e;
    --links: #006ba7;
    --placeholders: #909090;
    --error: #d90606;
    --background-circles: #1d1d1d;
}

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

html,
body {
    font-size: 15px;
    width: 100%;
    /* height: 100%; */
    background: var(--neutral);
    scroll-behavior: smooth;
    color: var(--secondary);
    min-height: 100%;
    font-family: 'Abhaya Libre', serif;
}

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: var(--accent);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--secondary);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: var(--background-circles);
}


/*============================================================================================================================
==============================================================================================================================
Start Btns
==============================================================================================================================
==============================================================================================================================
*/

.btn {
    display: inline-block;
    width: 168px;
    height: 64px;
    cursor: pointer;
}

.btn.lng {
    width: 240px;
    height: 72px;
}

.btn.lng .btn_cont {
    top: 27px;
    left: 30px;
}

.btn.lng .btn_bg {
    width: 72px;
    height: 72px;
}

.btn.mdn {
    width: 216px;
}

.btn:hover>.btn_cont #text,
.btn:hover>.btn_cont i {
    color: var(--neutral);
}

.btn:hover>.btn_bg {
    width: 100%;
    border-radius: 8px;
}

.btn_bg {
    width: 64px;
    height: 64px;
    background: var(--secondary);
    border-radius: 64px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.btn_cont {
    position: absolute;
    top: 22px;
    left: 34px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn_cont #text,
.btn_cont i {
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--secondary);
    transition: 1.5s;
    word-spacing: 2px;
}

.btn_cont #text span {
    color: var(--neutral);
}


/*============================================================================================================================
==============================================================================================================================
Start Texts
==============================================================================================================================
==============================================================================================================================
*/

.h0 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 3.2px;
}

h1,
.h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1.44px;
}

h2,
.h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.64px;
}

h3,
.h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.96px;
}

h4,
.h4 {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.96px;
}

h5,
.h5 {
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

h6,
.h6 {
    font-family: 'Playfair Display', serif;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.16px;
}

.p0 {
    font-family: 'Abhaya Libre', serif;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p1 {
    font-family: 'Abhaya Libre', serif;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p2 {
    font-family: 'Abhaya Libre', serif;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.p3 {
    font-family: 'Abhaya Libre', serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.paragraphsdescriptions {
    font-family: 'Abhaya Libre', serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.p4 {
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.p5 {
    font-family: 'Abhaya Libre', serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p6 {
    font-family: 'Abhaya Libre', serif;
    font-size: 8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}


/*============================================================================================================================
==============================================================================================================================
Start Others
==============================================================================================================================
==============================================================================================================================
*/

.row {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 48px;
    flex-wrap: wrap;
}

section {
    padding-top: 160px;
    padding-left: 128px;
    padding-right: 128px;
    background: url(../img/background.png);
    background-size: 96%;
    background-position: top;
    background-repeat: no-repeat;
}

.text-divider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 640px;
    left: 0px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 24px;
}

.text-divider a {
    color: var(--secondary);
    font-weight: 900;
}

.text-divider a::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--secondary);
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: 0.6s;
    border-radius: 2px;
    top: unset;
}

.text-divider a:hover::after {
    width: 50%;
}

#liner {
    width: 124px;
    background: var(--secondary);
    height: 2px;
}

.hidden {
    display: none !important;
}

.placeholder {
    color: var(--placeholders);
}

.error {
    color: var(--error);
}

.pop-up {
    background: var(--secondary);
    color: var(--neutral);
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 16px;
    width: auto;
    position: fixed;
    top: 20%;
    right: 0;
    left: unset;
    text-align: center;
    align-items: center;
    z-index: 9999;
}

.pop-up i {
    font-size: 56px;
}

.pop-up p {
    width: 320px;
}