
.h0 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 3.2px;
}

h1,
.h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 1.44px;
}

h2,
.h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.64px;
}

h3,
.h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.96px;
}

h4,
.h4 {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.96px;
}

h5,
.h5 {
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

h6,
.h6 {
    font-family: 'Playfair Display', serif;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.16px;
}

.p0 {
    font-family: 'Inria Serif', serif;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p1 {
    font-family: 'Inria Serif', serif;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p2 {
    font-family: 'Inria Serif', serif;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.p3 {
    font-family: 'Inria Serif', serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
}

.paragraphsdescriptions {
    font-family: 'Inria Serif', serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
}

.p4 {
    font-family: 'Inria Serif', serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
}

.p5 {
    font-family: 'Inria Serif', serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}

.p6 {
    font-family: 'Inria Serif', serif;
    font-size: 8px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
}
