.testimonials {
    background: url(../img/testimonials-background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 96px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 0;
    /* padding-left: 0; */
}

.testimonials-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    overflow-y: scroll;
    padding: 24px 128px 0 0;
}

.testimonials-wrapper::-webkit-scrollbar {
    height: 4px;
}

.client {
    /* width: 372px; */
    width: 30%;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.testimonials-wrapper .row {
    justify-content: space-between;
    display: inline-flex;
    /* width: calc(333px * 8); */
    width: 100%;
    row-gap: 80px;
}

.client-review .p1 {
    line-height: 12px;
    color: var(--placeholders);
}

#CV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 136px 96px;
    gap: 32px;
    background: var(--accent);
}

#CV img {
    width: 104px;
}

#CV .btn.mdn .btn_cont {
    left: 26px;
    top: 28px;
}

#CV .btn_cont #text,
#CV .btn_cont i {
    font-size: 32px;
    font-weight: 900;
}

#CV .btn_cont #text {
    font-family: 'Playfair Display', serif;
}

#CV .btn.mdn {
    width: 360px;
    height: 104px;
}

#CV .btn.mdn .btn_bg {
    height: 104px;
    width: 104px;
}

#CV .btn.mdn:hover>.btn_bg {
    width: 100%;
}

#CV .btn_cont i {
    transform: rotate(-45deg);
}

.testimonials .title-text {
    align-items: center;
    margin-right: 128px;
}

.about-me-card-holder {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-top: 56px;
}

.about-cards {
    width: 424px;
    height: 360px;
    background: url(../img/about-me-1.png);
    background-color: var(--secondary);
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--neutral);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px;
    overflow: hidden;
}

.about-cards .title-text {
    width: 100%;
}

.about-cards:nth-child(2) {
    background: url(../img/about-me-2.png);
    background-color: var(--secondary);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    margin-top: 32px;
    background-position-x: right;
}

.about-cards:nth-child(3) {
    background: url(../img/about-me-3.png);
    background-color: var(--secondary);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
}

.experience_card {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px 0;
}

.experience-body .row:nth-child(odd) .experience_card {
    text-align: right;
}

.experience_card.left::after,
.experience_card.right::after {
    content: '';
    width: 1px;
    height: 100%;
    background: var(--placeholders);
    position: absolute;
    top: 0;
    right: -26px;
}

.experience-body .row:nth-child(even) .experience_card {
    text-align: left;
}

.experience_card.right::before,
.experience_card.left::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: var(--placeholders);
    border-radius: 50%;
    top: 50%;
    left: -24px;
}

.experience_card.left::before {
    left: unset;
    right: -31px;
}

.experience_card.right::after {
    right: unset;
    left: -19px;
}

.row:last-child .experience_card.right::after {
    height: 50%;
}

.row:first-child .experience_card.left::after {
    height: 50%;
    bottom: 0;
    top: unset;
}

.experience-body .row:nth-child(odd) {
    justify-content: flex-start;
}

.experience-body .row:nth-child(even) {
    justify-content: flex-end;
}

.experience-body {
    /* gap: 32px; */
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 100%;
}

#xp {
    padding-top: 64px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 48px;
}

#xp .text-divider {
    align-items: center;
    text-align: center;
}

.xp-vector {
    position: absolute;
    height: 990px;
    width: 7px;
    top: 16px;
    left: 50%;
}

.xp-vector img {
    width: 100%;
    height: 100%;
}