.btn {
    display: inline-block;
    width: 160px;
    height: 64px;
    cursor: pointer;
}

.btn.lng {
    width: 224px;
    height: 72px;
}

.btn.lng .btn_cont {
    top: 27px;
    left: 37px;
}

.btn.lng .btn_bg {
    width: 72px;
    height: 72px;
}

.btn.lng.ln {
    height: 88px;
}

.btn.lng.ln .btn_bg {
    width: 88px;
    height: 88px;
}

.btn.lng.ln:hover>.btn_bg {
    width: 100%;
    border-radius: 8px;
}

.btn.lng.ln .btn_cont {
    top: 36px;
    left: 22px;
}

.btn.mdn {
    width: 192px;
}

.btn:hover>.btn_cont #text,
.btn:hover>.btn_cont i {
    color: var(--neutral);
}

.btn:hover>.btn_bg {
    width: 100%;
    border-radius: 8px;
}

.btn_bg {
    width: 64px;
    height: 64px;
    background: var(--secondary);
    border-radius: 64px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.btn_cont {
    position: absolute;
    top: 23px;
    left: 37px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn_cont #text,
.btn_cont i {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--secondary);
    transition: 1.5s;
    word-spacing: 1px;
}

btn_cont #text {
    font-family: 'Roboto', sans-serif;
}

.btn_cont #text span {
    color: var(--neutral);
}

.row {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 48px;
    flex-wrap: wrap;
}

section {
    padding-top: 160px;
    padding-left: 128px;
    padding-right: 128px;
    background: url(../img/background.png);
    background-size: 96%;
    background-position: top;
    background-repeat: no-repeat;
}

.text-divider,
.title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 640px;
    left: 0px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 24px;
}

.title-text {
    gap: 8px;
    text-align: left;
    width: 556px;
}

.text-divider a {
    color: var(--secondary);
    font-weight: 700;
    display: inline-block;
}

.text-divider a::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--secondary);
    position: absolute;
    bottom: 4px;
    left: 0;
    transition: 0.6s;
    border-radius: 2px;
    top: unset;
}

.text-divider a:hover::after {
    width: 50%;
}

#liner {
    width: 124px;
    background: var(--secondary);
    height: 2px;
}

.hidden {
    display: none !important;
}

.placeholder {
    color: var(--placeholders);
}

.error {
    color: var(--error);
    font-weight: 800;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.pop-up {
    background: var(--secondary);
    color: var(--neutral);
    display: flex;
    flex-direction: column;
    padding: 24px 32px 32px;
    gap: 4px;
    width: auto;
    position: fixed;
    top: 20%;
    right: -48%;
    left: unset;
    text-align: center;
    align-items: center;
    z-index: 9999;
    transition: 0.8s;
}

.pop-up i {
    font-size: 48px;
}

.pop-up p {
    width: 236px;
}

.pop-up.show {
    right: 0;
}

.pop-up.show.error {
    background-color: var(--error);
}